/* PASS/FAIL COLORS */
:root {
	--color-correct: rgba(54, 162, 235,1);
	--color-incorrect: rgba(255, 99, 132,1);
	--color-unattempted: rgb(150, 150, 150);
	--color-correct-op08: rgba(54, 162, 235,0.8);
	--color-incorrect-op08: rgba(255, 99, 132,0.8);
	--color-unattempted-op08: rgba(150, 150, 150, 0.8);
	--color-correct-op04: rgba(54, 162, 235,0.4);
	--color-incorrect-op04: rgba(255, 99, 132,0.4);
	--color-unattempted-op04: rgba(150, 150, 150, 0.4);
	--color-todo: red;
  }

  .todo{
	  color: var(--color-todo);
  }
/* a{
	text-decoration: none;
	color: black;
} */

li{
	list-style: none;
}	

.content-block {
	display: flex;
	align-items: left;
	vertical-align: bottom;
	margin-bottom: 4rem;
}

.content-block > p {
	margin-bottom: auto;
	margin-top: auto;
}

.results_box{ 
	border-width: 8px;
	border-style: solid;
	border-radius: 1rem;
	transition: 0.4s background;
}

.correct_answer{
	border-color: var(--color-correct);
}
.correct_answer:hover{
	background: var(--color-correct-op04);
}
.incorrect_answer{
	border-color: var(--color-incorrect);
}
.incorrect_answer:hover{
	background: var(--color-incorrect-op04);
}
.not_answered{
	border-color: var(--color-unattempted);
}
.not_answered:hover{
	background: var(--color-unattempted-op04);
}

.student_stats_container{
	padding: 0.8rem;
	margin: 0.8rem 0;
}

/* TEXT COLORS */
.text_correct{
	color: var(--color-correct);
}

.text_incorrect{
	color: var(--color-incorrect);
}

.text_unattempted{
	color: var(--color-unattempted);
}

/* CHARTS */
.chart-container{
	height: 20rem;
	width: 20rem;
}