/* PASS/FAIL COLORS */
:root {
	--color-correct: rgba(54, 162, 235,1);
	--color-incorrect: rgba(255, 99, 132,1);
	--color-unattempted: rgb(150, 150, 150);
	--color-in-progress: rgb(104, 28, 180);

	--color-correct-op08: rgba(54, 162, 235,0.8);
	--color-incorrect-op08: rgba(255, 99, 132,0.8);
	--color-unattempted-op08: rgba(150, 150, 150, 0.8);
	--color-in-progress-op08: rgba(104, 28, 180,0.8);

	--color-correct-op04: rgba(54, 162, 235,0.4);
	--color-incorrect-op04: rgba(255, 99, 132,0.4);
	--color-unattempted-op04: rgba(150, 150, 150, 0.4);
	--color-in-progress-op04: rgba(104, 28, 180,0.4);

	--color-todo: red;
  }

  .todo{
	  color: var(--color-todo);
  }
/* a{
	text-decoration: none;
	color: black;
} */

li{
	list-style: none;
}	

.content-block {
	display: flex;
	align-items: left;
	vertical-align: bottom;
	margin-bottom: 4rem;
}

.content-block > p {
	margin-bottom: auto;
	margin-top: auto;
}

.results_box { 
	border-width: 8px;
	border-style: solid;
	border-radius: 1rem;
	transition: 0.4s background;
}

.correct_answer,
.container_pass{
	border-color: var(--color-correct);
}
.correct_answer:hover,
.container_pass:hover {
	background: var(--color-correct-op04);
}
.in,
.container_in,
.container_in_progress{
	border-color: var(--color-in-progress);
}
.in:hover,
.container_in:hover,
.container_in_progress:hover{
	background: var(--color-in-progress-op04);
}
.incorrect_answer,
.container_fail{
	border-color: var(--color-incorrect);
}
.incorrect_answer:hover,
.container_fail:hover{
	background: var(--color-incorrect-op04);
}
.not_answered,
.text_unattempted,
.container_unattempted{
	border-color: var(--color-unattempted);
}
.not_answered:hover,
.text_unattempted:hover,
.container_unattempted:hover {
	background: var(--color-unattempted-op04);
}

.attempt_container.container_pass:hover,
.attempt_container.container_in_progress:hover,
.attempt_container.container_in:hover,
.attempt_container.container_fail:hover,
.attempt_container.container_unattempted:hover {
	background: none;
}

.student_stats_container{
	padding: 0.8rem;
	margin: 0.8rem 0;
}

/* TEXT COLORS */
.text_correct, .text_pass{
	color: var(--color-correct);
}

.text_incorrect, .text_fail{
	color: var(--color-incorrect);
}

.text_unattempted{
	color: var(--color-unattempted);
}
.text_in{
	color: var(--color-in-progress);
}

.text_summative{
	font-weight: bold;
}

/* CHARTS */
.chart-container{
	display: inline;
	height: 20rem;
	width: 20rem;
}

.graph_holder{
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
/* Tables */
table, th, td {
	border: 1px solid;
	padding: 0.8rem;
	text-align: center;
  }

.table_subtotal>*{
	font-weight: bold;
}

/* Details / Summary: https://css-tricks.com/two-issues-styling-the-details-element-and-how-to-solve-them/ */
details summary { 
	cursor: pointer;
}

details summary > * {
display: inline;
}