body {
	margin: 0;
	margin-bottom: 2rem;
}

/* NAVBAR */
nav,
footer {
	background: black;
	color: white;
}

nav ul {
	display: flex;
	flex-direction: row;
	margin: 0;
}

nav li {
	list-style: none;
	margin: 1rem 1rem;
}

nav li a,
nav li a:visited {
	color: white;
	transition: color 0.2s ease-in-out;
}

nav li a:hover {
	color: red;
}

nav li.admin {
	margin-left: auto;
}

nav li a {
	text-decoration: none;
}

/* FOOTER */
footer {
	padding: 0.8rem 0;
	/* position:fixed; */
	/* bottom:0px; */
	text-align: center;
	width: 100%;
}

/* FORMS */
.inline-label{
	margin-right: 1rem;
}

.form-container {
	margin-left: 3rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: fit-content;
	padding: 1rem;
	border: 2px solid rgb(17, 16, 19);
}

.form-container h1 {
	margin: 0;
}
