body {
	margin: 0;
	margin-bottom: 2rem;
}

/* NAVBAR */
nav,
footer {
	background: black;
	color: white;
}

nav ul {
	display: flex;
	flex-direction: row;
	margin: 0;
}

nav li {
	list-style: none;
	margin: 1rem 1rem;
}

nav li a,
nav li a:visited {
	color: white;
	transition: color 0.2s ease-in-out;
}

nav li a:hover {
	color: red;
}

nav li.admin {
	margin-left: auto;
}

nav li a {
	text-decoration: none;
}

/* FOOTER */
footer {
	padding: 0.8rem 0;
	/* position:fixed; */
	/* bottom:0px; */
	text-align: center;
	width: 100%;
}

/* FORMS */
.inline-label{
	margin-right: 1rem;
}

.form-container {
	margin-left: 3rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: fit-content;
	padding: 1rem;
	border: 2px solid rgb(17, 16, 19);
}

.form-container h1 {
	margin: 0;
}
/* --------------------CRUD ASSESSMENTS BELOW WILL MOVE TO SEPERATE FILE SOON---------------------------------- */

.block_contents{
	margin-left: 1vw;
	margin-right: 1vw;
	padding-bottom: 2vh;
}

/* WARNING MESSAGE  */

.warning{
	color: red;
}

/* BUTTONS */

/* Create Assessment Button */
.Create_Assessment_Button {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: .5;
}

.Create_Assessment_Button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  background-color: #8ABD91;
}

@media (min-width: 768px) {
  .Create_Assessment_Button {
    padding: 10px 30px;
  }
}
.Create_Assessment_Link{
	text-decoration: none;
	color: black;
}

/* EDIT DELETE TAKE ASSESSMENT BUTTONS ON INDEX */
.module_title{
	padding-left: 1vw;
}
.Assessment_Index_Parent{
	display: flex;
	justify-content: space-between;
	padding-left: 1vw;
}
.Assessment_Index_Children{
	display: flex;
	align-items: center;
}
.Assessment_Index_Child{
	display: flex;
	margin-left: 2vw;
	flex-wrap: nowrap;
	max-width: 10vw;
	padding-bottom: .5vh;

}
.Assessment_Index_Text{
	text-decoration: none;
	color: black;
}

/* EDIT_ASSESSMENT.html */
.Assessment_Edit_Parent{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.Assessment_Edit_Children{
	display: flex;
	align-items:center;
	justify-items: flex-start;
	justify-content: space-between;
	margin-right: 5vw;
}
.Assessment_Edit_Child{
	display: flex;
	flex-wrap: wrap;
	max-width: 6vw;
	padding-bottom: .5vh;
	background-color:red ;

}

.show_assessment_title{
	display: flex;
	justify-content: center;
}
.show_assessment_parent{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.show_assessment_children{
	display: flex;
	justify-content: space-between;
	max-width: 70vw;
	margin: 10px auto;
}
.show_assessment_child{
	display: flex;
	flex-wrap: nowrap;
	margin-left: 2vw;
}

/* ----------------------------------------------------- END OF CRUD ASSESSMENTS ------------------------------------------------ */





/* Other */

.delete-button {
	background-color: red;
	color: white;
}

/* FOOTER */
footer {
	position:static;
	bottom:0px;
	text-align: center;
	width: 100%;
}