
  


body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

body, body {
	font-family: 'Work Sans', sans-serif;
}



/* NAVBAR */
nav,
footer {
	background: black;
	color: white;
}

nav ul {
	display: flex;
	flex-direction: row;
	margin: 0;
}

nav li {
	list-style: none;
	margin: 1rem 1rem;
}

nav li a,
nav li a:visited {
	color: white;
	transition: color 0.2s ease-in-out;
}

nav li a:hover {
	color: red;
}

nav li.admin {
	margin-left: auto;
}

nav li a {
	text-decoration: none;
}

/* FOOTER */
footer {
	padding: 0.8rem 0;
	margin-top: auto;
	text-align: center;
	width: 100%;
}

/* FORMS */
.inline-label{
	margin-right: 1rem;
}

.form-container {
	margin-left: 3rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: fit-content;
	padding: 1rem;
	border: 2px solid rgb(17, 16, 19);
}

.form-container h1 {
	margin: 0;
}
/* --------------------CRUD ASSESSMENTS BELOW WILL MOVE TO SEPERATE FILE SOON---------------------------------- */

.block_contents{
	margin-left: 1vw;
	margin-right: 1vw;
	padding-bottom: 2vh;
}

/* WARNING MESSAGE  */

.warning{
	color: red;
}

/* BUTTONS */

/* Create Assessment Button */

.Create_Assessment_Link{
	text-decoration: none;
	color: black;
}
.modules_title{
	padding-top:2vh;
	display: flex;
	justify-content: center;
}
.remove-button{
	background-color: red;
	color: white;
	text-decoration: none;
}

/* EDIT DELETE TAKE ASSESSMENT BUTTONS ON INDEX */
.module_title{
	padding-left: 1vw;
}
.index_modules{
	display: flex;
	max-width: max-content;
	align-items: center;
	justify-content: space-between;
	padding-left: 1vw;
}
.modules_child{
	display: flex;
	padding-left: 5vw;
}
.Assessment_Index_Parent{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1vw;
}

.Assessment_Index_Parent button {
	height: 100%; 
}
.Assessment_Index_Children{
	display: flex;
	align-items: center;
}
.Assessment_Index_Child{
	display: flex;
	margin-left: 2vw;
	flex-wrap: nowrap;
	max-width: 10vw;
	padding-bottom: .5vh;

}
.Assessment_Index_Text{
	text-decoration: none;
	color: black;
}
.Assessment_show_button{
	text-decoration: none;
	color: black;
	display: flex;
	justify-content: flex-end;
}

/* EDIT_ASSESSMENT.html */
.Assessment_Edit_Parent{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.Assessment_Edit_Children{
	display: flex;
	align-items:center;
	justify-items: flex-start;
	justify-content: space-between;
	margin-right: 5vw;
}
.Assessment_Edit_Child{
	display: flex;
	flex-wrap: wrap;
	max-width: 6vw;
	padding-bottom: .5vh;
	background-color:red ;

}
.edit_submit_button{
	padding-top: 1vh;
}

.show_assessment_title{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}
.show_assessment_edit{
	display:flex;
	justify-content: flex-end;
}
.show_assessment_parent{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.show_assessment_children{
	display: flex;
	justify-content: space-between;
	max-width: 70vw;
	margin: 10px auto;
}
.show_assessment_child{
	display: flex;
	flex-wrap: nowrap;
	margin-left: 2vw;
}

.add_questions_finish{
	display: flex;
	padding-top: 2vh;
}

.view_module_create{
	display: flex;
	justify-content: flex-start;
	padding-bottom: 1vh;
}

/* ----------------------------------------------------- CRUD QUESTIONS --------------------------------------------- */

.all-questions {
	margin-left: 2vw;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.small-margin-left {
	margin-left: 1vw;
}

/* ----------------------------------------------------- END OF CRUD QUESTIONS -------------------------------------- */

/* ----------------------------------------------------- END OF CRUD ASSESSMENTS ------------------------------------------------ */

/* Flash messages */

.alert.success {
	padding: 12px;
	border-radius: 3px;
	font-size: 1.2rem;
	margin-bottom: 16px;
	margin-right: 1vw;
	border: 2px solid darkgreen;
	background-color: green;
	color: white;
	list-style-type: none;
  }
  
  .alert.error {
	padding: 12px;
	border-radius: 3px;
	font-size: 1.2rem;
	margin-bottom: 16px;
	margin-right: 1vw;
	border: 2px solid darkred;
	background-color: red;
	color: white;
	list-style-type: none;
  }
  .alert.info {
	padding: 12px;
	border-radius: 3px;
	font-size: 1.2rem;
	margin-bottom: 16px;
	margin-right: 1vw;
	border: 2px solid orange;
	background-color: yellow;
	color: black;
	list-style-type: none;
  }



/* Other */

.delete-button {
	background-color: red;
	color: white;
}

.small-bottom-margin {
	margin-bottom: 0.5em;
}

/* FOOTER */
footer {
	position:static;
	bottom:0px;
	text-align: center;
	width: 100%;
}

/* SUMMATIVE STYLING ADDED FOR CONSISTENCY */
.summative { 
    border: 5px solid black; 
    box-shadow:  10px 10px 30px #bebebe;
}

/*  STAFF STATS */

.staff_stats_module_select{
	display:flex;
	flex-direction: column;
	align-items: center;
	
}

#staff_stats_Bronze{
	color: brown;
}
#staff_stats_Silver{
	color: silver;
}
#staff_stats_Gold{
	color: gold ;
}
#staff_stats_Emerald{
	color: rgb(39, 223, 39) ;
}
#staff_stats_Ruby{
	color: rgb(206, 9, 9) ;
}
#staff_stats_Diamond{
	color:rgb(126, 203, 255) ;
}