{% extends 'layout.html' %}
{% block title %}
    Student | Course View
{% endblock title %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<link
	rel="stylesheet"
	href="{{url_for('static',filename='student-stats-style.css')}}"
/>
{% endblock extra_head %}
{% block content %}
<h1>Student Stats for {{current_user.name}} | Course View</h1>
<p><a href="{{ url_for('legendary_gamification.get_id')}}"><button>Tier: {{current_user.tier}}</button></a></p>
    
<h2>Credits</h2>
<ul>
    <li>
        <p><b>Total Credits Possible: {{dictionary_of_module_credits["total"]["total_credits_possible"]}}</b></p>
    </li>
    <li>
        <p>Total Credits <span class="text_correct"><b>Passed</b></span>: {{dictionary_of_module_credits["total"]["total_credits_earned"]}}/{{dictionary_of_module_credits["total"]["total_credits_possible"]}}</p>
    </li>
    <li>
        <p>Total Credits <span class="text_incorrect"><b>Failed</b></span>: {{dictionary_of_module_credits["total"]["total_credits_failed"]}}/{{dictionary_of_module_credits["total"]["total_credits_possible"]}}</p>
    </li>
    <li>
        <p>Total Credits <span class="text_unattempted"><b>Unattempted</b></span>: {{dictionary_of_module_credits["total"]["total_credits_unattempted"]}}/{{dictionary_of_module_credits["total"]["total_credits_possible"]}}</p>
    </li>
</ul>

<p></p>
<div class="content-block">
    <div
        class="chart-container"
    >
        <canvas id="moduleCreditsStudentPi"></canvas>
    </div>
</div>

{# 
    <h2>
        Overall Marks - STUDENT
    </h2>
    <p>{{overall_results_student["sum_of_marks_awarded"]}}/{{overall_results_student["sum_of_marks_possible"]}}
    ({{ "%.2d" |
    format((overall_results_student["sum_of_marks_awarded"]/overall_results_student["sum_of_marks_possible"])*100)}}%)</p>
#}
    {#
    <h2>
        Overall Marks - COHORT
    </h2>
    <p>{{overall_results_cohort["sum_of_marks_awarded"]}}/{{overall_results_cohort["sum_of_marks_possible"]}}
    ({{ "%.2d" |
    format((overall_results_cohort["sum_of_marks_awarded"]/overall_results_cohort["sum_of_marks_possible"])*100)}}%)</p>
    <div class="content-block">
        <div
            class="chart-container"
        >
            <canvas id="overallResultsCohortPi"></canvas>
        </div>
    </div>
    #}

    <h2>Modules</h2>
    <div class="content-block">
        <div
            class="chart-container"
        >
            <canvas id="moduleCreditsStudentPiSplit"></canvas>
        </div>
    </div>
    <ul>
    <li>
        <h3><span class="text_correct"><b>Passed</b></span></h3>
        <ul>
            {% for module_key, module in module_stats_student.items() %}
                {% if module.taken_by_student and module['marks_awarded']/module['marks_possible'] >= 0.5 %}
                    <a href="{{url_for('student_stats.module_view', module_id=module_key)}}">
                        <div class="student_stats_container results_box correct_answer">
                                <li>
                                    <p><b>{{module.module_title}}</b></p>
                                    <p>Credits: {{dictionary_of_module_credits[module_key]["total_credits_earned"]}}/{{dictionary_of_module_credits[module_key]["total_credits_possible"]}}</p>
                                    <p>Mark:
                                        {{module['marks_awarded']}}/{{module['marks_possible']}}
                                        ({{ "%.2d" |
                                        format((module['marks_awarded']/module['marks_possible'])*100)}}%)
                                    </p>
                                    {#
                                    <p>
                                        Completed assessments: {{module.count_of_taken_assessments}}/{{ module.count_of_assessments}}
                                    </p>
                                    <p>
                                        Passed assessments: {{module.count_of_passed_assessments}}/{{ module.count_of_assessments}}
                                    </p>
                                    #}
                                    <p>
                                        Summative assessments: {{module.count_of_passed_summative_assessments}}/{{ module.count_of_summative_assessments}}
                                    </p>
                                    <p>
                                       Formative assessments: {{module.count_of_passed_formative_assessments}}/{{ module.count_of_formative_assessments}}
                                    </p>
                                </li>
                            </div>
                        </a>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
    <li>
        <h3><span class="text_incorrect"><b>Failed</b></span></h3>
        <ul>
            {% for module_key, module in module_stats_student.items() %}
                {% if module.taken_by_student and module['marks_awarded']/module['marks_possible'] < 0.5 %}
                <a href="{{url_for('student_stats.module_view', module_id=module_key)}}">
                    <div class="student_stats_container results_box incorrect_answer">
                            <li>
                                <p><b>{{module.module_title}}</b></p>
                                <p>Credits: {{dictionary_of_module_credits[module_key]["total_credits_earned"]}}/{{dictionary_of_module_credits[module_key]["total_credits_possible"]}}</p>                 
                                <p>Mark:
                                    {{module['marks_awarded']}}/{{module['marks_possible']}}
                                    ({{ "%.2d" |
                                    format((module['marks_awarded']/module['marks_possible'])*100)}}%)
                                </p>
                                {# 
                                <p>
                                    Completed assessments: {{module.count_of_taken_assessments}}/{{ module.count_of_assessments}}
                                </p>
                                <p>
                                    Passed assessments: {{module.count_of_passed_assessments}}/{{ module.count_of_assessments}}
                                </p>
                                #}
                                <p>
                                    Summative assessments: {{module.count_of_passed_summative_assessments}}/{{ module.count_of_summative_assessments}}
                                </p>
                                <p>
                                   Formative assessments: {{module.count_of_passed_formative_assessments}}/{{ module.count_of_formative_assessments}}
                                </p>
                            </li>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
    </li>

    <li>
        <h3><span class="text_unattempted"><b>Unattempted</b></span></h3>
        <ul>
            {% for module_key, module in module_stats_student.items() %}
                {% if not module.taken_by_student %}
                    <a href="{{url_for('student_stats.module_view', module_id=module_key)}}">
                        <div class="student_stats_container results_box not_answered">
                            <li>
                                <p><b>{{module.module_title}}</b>
                                </p>
                                <p>Credits Possible: {{dictionary_of_module_credits[module_key]["total_credits_possible"]}}</p>
                                <p>
                                    Summative assessments: {{module.count_of_summative_assessments}}
                                </p>
                                <p>
                                   Formative assessments: {{module.count_of_formative_assessments}}
                                </p>
                            </li>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
    </li>

</ul>
    <h2>Response Analysis</h2>

    <ul>       
        <li>
            <div class="results_box student_stats_container">
                <h2>Correct answers split by tags</h2>
                <p>Based on highest scoring attempts</p>
                <ul>
                    <li>
                        <b>
                            <p>All: {{tag_totals.all_correct}}/{{tag_totals.all_questions}}</p>
                        </b>
                    </li>

                    {% for t, results in dict_of_tags.items() %}
                        <li>
                            <p>{{t}}: {{results.correct}}/{{results.count_of_questions}}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li>
            <div class="results_box correct_answer student_stats_container">
                <h2>Strongest Tags</h2>
                <ul>
                    {% for t, results in dict_of_tags.items() %}
                        <li>
                            {% if results.status=="strongest" %}
                                <p>{{t}}: {{results.correct}}/{{results.count_of_questions}}</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        
        <li>
            <div class="results_box incorrect_answer student_stats_container">
                <h2>Weakest Tags</h2>
                <ul>
                    {% for t, results in dict_of_tags.items() %}
                        <li>
                            {% if results.status=="weakest" %}
                                <p>{{t}}: {{results.correct}}/{{results.count_of_questions}}</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        
    </ul>

    <h2>Download</h2>
    <button><p><a href="{{ url_for('student_stats.download')}}">Download CSV</a></p></button>
    <h2>Achievements</h2>
    <button>
        <p><a href="{{ url_for('legendary_gamification.get_id')}}">View Achievements</a></p>
    </button>
    <script>
        // OVERALL: STUDENT
        const totalCreditsPassed = '{{dictionary_of_module_credits["total"]["total_credits_earned"]}}';
        const totalCreditsFailed = '{{dictionary_of_module_credits["total"]["total_credits_failed"]}}';
        const totalCreditsUnattempted = '{{dictionary_of_module_credits["total"]["total_credits_unattempted"]}}';
        const moduleCreditsStudentPiElement = document.getElementById('moduleCreditsStudentPi').getContext('2d');
        const moduleCreditsStudentPi = new Chart(moduleCreditsStudentPiElement, {
            type: 'doughnut',
            data: {
                labels: ['Passed', 'Failed', 'Unattempted'],
                datasets: [
                    {
                        label: 'Course View',
                        data: [totalCreditsPassed, totalCreditsFailed,
                        totalCreditsUnattempted
                        ],
                        backgroundColor: ['rgb(54, 162, 235)', 'rgb(255, 99, 132)','rgb(150, 150, 150)'],
                        hoverOffset: 4,
                    },
                ],
            },
        });
        // OVERALL: STUDENT
        const totalCreditsPassedSplit = '{{dictionary_of_module_credits["total"]["total_credits_earned"]}}';
        const totalCreditsFailedSplit = '{{dictionary_of_module_credits["total"]["total_credits_failed"]}}';
        const totalCreditsUnattemptedSplit = '{{dictionary_of_module_credits["total"]["total_credits_unattempted"]}}';
        const moduleCreditsStudentPiElementSplit = document.getElementById('moduleCreditsStudentPiSplit').getContext('2d');
        const moduleCreditsStudentPiSplit = new Chart(moduleCreditsStudentPiElementSplit, {
            type: 'doughnut',
            data: {
                labels: ['Passed', 'Failed', 'Unattempted'],
                datasets: [
                    {
                        label: 'Course View',
                        data: [totalCreditsPassedSplit, totalCreditsFailedSplit,
                        totalCreditsUnattemptedSplit
                        ],
                        backgroundColor: ['rgb(54, 162, 235)', 'rgb(255, 99, 132)','rgb(150, 150, 150)'],
                        hoverOffset: 4,
                    },
                ],
            },
        });
        /*
         // OVERALL: COHORT
         const overallResultsCohortcorrect = '{{overall_results_cohort["sum_of_marks_awarded"]}}';
         const overallResultsCohortincorrect = '{{overall_results_cohort["sum_of_marks_possible"]-overall_results_cohort["sum_of_marks_awarded"]}}';
         const overallResultsCohortPiElement = document.getElementById('overallResultsCohortPi').getContext('2d');
         const overallResultsCohortPi = new Chart(overallResultsCohortPiElement, {
             type: 'pie',
             data: {
                 labels: ['Correct', 'Incorrect'],
                 datasets: [
                     {
                         label: 'Course View',
                         data: [overallResultsCohortcorrect, overallResultsCohortincorrect],
                         backgroundColor: ['rgb(54, 162, 235)', 'rgb(255, 99, 132)'],
                         hoverOffset: 4,
                     },
                 ],
             },
         });
         */
    </script>
{% endblock content %}