{% extends 'layout.html' %}
{% block title %}
    Student | Course View
{% endblock title %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<link
	rel="stylesheet"
	href="{{url_for('static',filename='student-stats-style.css')}}"
/>
{% endblock extra_head %}
{% block content %}
<h1>Student Stats for {{current_user.name}} | Course View</h1>
<h2>Status: <span class="{{course_status.1}}">{{course_status.0 | upper}}</h2>
<p><a href="{{ url_for('legendary_gamification.get_id')}}"><button>Tier: {{current_user.tier}}</button></a></p>
    
<h2>Credits</h2>
<ul>
    <li>
        <p><b>Total Credits Possible: {{dictionary_of_module_credits["total"]["total_credits_possible"]}}</b></p>
    </li>
    <li>
        <p>Total Credits <span class="text_correct"><b>Passed</b></span>: {{dictionary_of_module_credits["total"]["total_credits_earned"]}}/{{dictionary_of_module_credits["total"]["total_credits_possible"]}}</p>
    </li>
    <li>
        <p>Total Credits <span class="text_incorrect"><b>Failed</b></span>: {{dictionary_of_module_credits["total"]["total_credits_failed"]}}/{{dictionary_of_module_credits["total"]["total_credits_possible"]}}</p>
    </li>
    <li>
        <p>Total Credits <span class="text_unattempted"><b>Unattempted</b></span>: {{dictionary_of_module_credits["total"]["total_credits_unattempted"]}}/{{dictionary_of_module_credits["total"]["total_credits_possible"]}}</p>
    </li>
</ul>

<p></p>
<div class="content-block">
    <div
        class="chart-container"
    >
        <canvas id="moduleCreditsStudentPi"></canvas>
    </div>
</div>
    <h2>Module Overview</h2>
        <ul>
            <table>
                <tr>
                    <th>Module</th>
                    <th>Status</th>
                    <th>Credits<br><span class="text_correct">Earned</span></th>
                    <th>Weighted<br>Perc.</th>

                    <th>Summative<br>Assessments Passed</th>
                </tr>
                {% for m in module_overview_stats %}
                    <tr>
                        <td><a href="{{url_for('student_stats.module_view', module_id=m.module_id)}}">{{m.module_id}}. {{m.module_title}}</a></td>
                        
                        <td><span class="{{m.status_class}}">{{m.status}}</span></td>
                        <td>
                            {% if m.num_of_credits_possible %}
                            {{m.num_of_credits_earned}}/{{m.num_of_credits_possible}}
                            {% endif %}
                        </td>
                        
                        <td>{% if m.total_weighted_perc=="unattempted" %}-
                        {% else %}
                        {{"%.1f" |format(m.total_weighted_perc*100)}}%
                        {% endif %}
                        </td>
                        <td>{% if m.count_of_sum_asssessment_present %}
                            {{m.count_of_sum_assessment_pass}}/{{m.count_of_sum_asssessment_present}}
                        {% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </ul>

    <h2>Assessment Overview</h2>      
        <ul>
            <table>
                <tr>
                    <th>Module</th>
                    <th>Assessment</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Mark</th>
                </tr>
                {% for a in assessment_stats_overview %}
                    <tr>
                        <td><a href="{{url_for('student_stats.module_view', module_id=a.module_id)}}">{{a.module_id}}. {{a.module_title}}</a></td>
                        <td><a href="{{url_for('student_stats.assessment_view', assessment_id=a.assessment_id)}}">{{a.assessment_id}}. {{a.assessment_title}}</a></td>
                        <td>{% if a.summative %}
                            <b>Summative</b>
                        {% else %}
                            Formative
                        {% endif %}</td>
                        <td><span class="{{a.status_class}}">{{a.status}}</span></td>
                        <td>
                            {{a.sum_of_marks_earned}}/{{a.sum_of_marks_possible}}
                        </td>
                        </tr>
                {% endfor %}
            </table>
        </ul>
</ul>
    <h2>Response Analysis</h2>

    <ul>       
        <li>
            <div class="results_box student_stats_container">
                <h2>Correct answers split by tags</h2>
                <p>Based on highest scoring attempts</p>
                <ul>
                    <li>
                        <b>
                            <p>All: {{tag_totals.all_correct}}/{{tag_totals.all_questions}}</p>
                        </b>
                    </li>

                    {% for t, results in dict_of_tags.items() %}
                        <li>
                            <p>{{t}}: {{results.correct}}/{{results.count_of_questions}}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li>
            <div class="results_box correct_answer student_stats_container">
                <h2>Strongest Tags</h2>
                <ul>
                    {% for t, results in dict_of_tags.items() %}
                        <li>
                            {% if results.status=="strongest" %}
                                <p>{{t}}: {{results.correct}}/{{results.count_of_questions}}</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        
        <li>
            <div class="results_box incorrect_answer student_stats_container">
                <h2>Weakest Tags</h2>
                <ul>
                    {% for t, results in dict_of_tags.items() %}
                        <li>
                            {% if results.status=="weakest" %}
                                <p>{{t}}: {{results.correct}}/{{results.count_of_questions}}</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        
    </ul>

    <h2>Download</h2>
    <button><p><a href="{{ url_for('student_stats.download')}}">Download CSV</a></p></button>
    <h2>Achievements</h2>
    <button>
        <p><a href="{{ url_for('legendary_gamification.get_id')}}">View Achievements</a></p>
    </button>
    <script>
        // OVERALL: STUDENT
        const totalCreditsPassed = '{{dictionary_of_module_credits["total"]["total_credits_earned"]}}';
        const totalCreditsFailed = '{{dictionary_of_module_credits["total"]["total_credits_failed"]}}';
        const totalCreditsUnattempted = '{{dictionary_of_module_credits["total"]["total_credits_unattempted"]}}';
        const moduleCreditsStudentPiElement = document.getElementById('moduleCreditsStudentPi').getContext('2d');
        const moduleCreditsStudentPi = new Chart(moduleCreditsStudentPiElement, {
            type: 'doughnut',
            data: {
                labels: ['Passed', 'Failed', 'Unattempted'],
                datasets: [
                    {
                        label: 'Course View',
                        data: [totalCreditsPassed, totalCreditsFailed,
                        totalCreditsUnattempted
                        ],
                        backgroundColor: ['rgb(54, 162, 235)', 'rgb(255, 99, 132)','rgb(150, 150, 150)'],
                        hoverOffset: 4,
                    },
                ],
            },
        });
        // OVERALL: STUDENT
        const totalCreditsPassedSplit = '{{dictionary_of_module_credits["total"]["total_credits_earned"]}}';
        const totalCreditsFailedSplit = '{{dictionary_of_module_credits["total"]["total_credits_failed"]}}';
        const totalCreditsUnattemptedSplit = '{{dictionary_of_module_credits["total"]["total_credits_unattempted"]}}';
        const moduleCreditsStudentPiElementSplit = document.getElementById('moduleCreditsStudentPiSplit').getContext('2d');
        const moduleCreditsStudentPiSplit = new Chart(moduleCreditsStudentPiElementSplit, {
            type: 'doughnut',
            data: {
                labels: ['Passed', 'Failed', 'Unattempted'],
                datasets: [
                    {
                        label: 'Course View',
                        data: [totalCreditsPassedSplit, totalCreditsFailedSplit,
                        totalCreditsUnattemptedSplit
                        ],
                        backgroundColor: ['rgb(54, 162, 235)', 'rgb(255, 99, 132)','rgb(150, 150, 150)'],
                        hoverOffset: 4,
                    },
                ],
            },
        });
        
    </script>
{% endblock content %}