{% extends 'layout.html' %}
{% block extra_head %}
{% include 'includes/student_stats_head.html' %}
{% endblock extra_head %}
{% block title %}
    Student | Course View
{% endblock title %}`
{% block content %}
<h2>Student stats for {{current_user.id}}: {{current_user.name}}</h2>
<p>Course View</p>
    <h1>Course: {{ c.title }}</h1>
    <p>Status: <span class="text_{{c.get_status(current_user.id)}}">{{c.get_status(current_user.id)}}</span></p>

    <h2>Modules</h2>
    <ul>
        {% for m in c.modules %}
        <div class="results_box student_stats_container attempt_container container_{{m.get_status(current_user.id)}}">
            <li><details>
                    <summary>
                        <a href="{{url_for('student_stats.module_view', module_id=m.module_id)}}">{{m}}</a> | Status: <span class="text_{{m.get_status(current_user.id)}}">{{m.get_status(current_user.id)}}</span> | Mark: {% if m.get_status(current_user.id)=="unattempted" %}-{% else %}{{"%.0d" |
                            format(m.get_total_weighted_marks_as_perc(current_user.id)*100)}}%{% endif %} | Summative assessments completed: {{m.get_count_of_taken_assessments(current_user.id, summative_only=True)}}/{{m.get_assessments(summative_only=True)|length}}
                    </summary>
                    <ul>
                        {% for a in m.get_assessments(current_user.id) %}
                        <div class="results_box student_stats_container  container_{{a.get_status(current_user.id)}}">
                            <p><a href="{{url_for('student_stats.assessment_view', assessment_id=a.module_id)}}">{{a}}</a> | Status: <span class="text_{{a.get_status(current_user.id)}}">{{a.get_status(current_user.id)}}</span> | Marks: {% if a.get_status(current_user.id)=="unattempted" %}-{% else %}{{a.get_highest_scoring_attempt_and_mark(current_user.id)['highest_score']}}/{{a.get_total_marks_possible()}}
                                ({{ "%.2d" |
                                format((a.get_highest_scoring_attempt_and_mark(current_user.id)['highest_score']/a.get_total_marks_possible())*100)}}%){% endif %} | Credits: {% if a.get_status(current_user.id)=="unattempted" %}-{% else %}{{a.get_credits(current_user.id)}}{%endif%}/{{a.num_of_credits}} | Contribution to module mark: {% if a.get_status(current_user.id)=="unattempted" %}-{% else %}{{"%.2d" |
                                format(a.get_total_weighted_marks_as_perc(current_user.id)*100)}}%{% endif %}
                            </p>
                        </div>
                        {% endfor %}
                    </ul>
                </details></li>
            </div>
        {% endfor %}
    </ul>
{% endblock content %}