{% extends 'layout.html' %}
{% block extra_head %}
{% include 'includes/student_stats_head.html' %}
{% endblock extra_head %}
{% block title %}
    Student | Module View
{% endblock title %}`
{% block content %}
<h2>Student stats for {{current_user.id}}: {{current_user.name}}</h2>
<p>Course View > Module {{m.module_id}} | {{m.title}}</p>
    <h1>Module {{ m.module_id}} | {{ m.title }}</h1>
        <!-- Module class: L581 -->
        <table>
            <tr>
                <th>Status</th>
                <th>Weighted<br>mark</th>
                <th>Summative Assessments<br><span class="text_pass">Passed</span></th>
                <th>Summative Assessments<br><span class="text_incorrect">Failed</span></th>
                <th>Summative Assessments<br><span class="text_unattempted">Unattempted</span></th>
            </tr>
            <tr>
                <td><span class="text_{{m.get_status(current_user.id)}}">{{m.get_status(current_user.id)}}</span></td>
                <td>{{"%.0d" |
                    format(m.get_total_weighted_marks_as_perc(current_user.id)*100)}}%</td>
                {% for status in ["pass","fail","unattempted"] %}
                    <td>{{m.get_count_of_assessments(summative_only=True, status_counter=True, user_id=current_user.id)[status]}}/{{m.get_count_of_assessments(summative_only=True)}}</td>
                {% endfor %}
            </tr>
        </table>

    <h4>Module stats</h4>
    <p>Average difficulty: {{m.get_average_difficulty()}}</p>
    <p>Tags: {{m.get_dict_of_tags_and_answers(current_user.id)}}</p>
    <p>Difficulty: {{m.get_dict_of_difficulty_and_answers(current_user.id)}}</p>
    <p>Types: {{m.get_dict_of_type_and_answers(current_user.id)}}</p>
        
    <h3>Module status explanation</h3>
    <ul><li><span class="text_pass">Pass</span>: weighted mark >= 50%</li>
    <li><span class="text_fail">Fail</span>: all assessments attempted, weighted mark < 50%</li>
    <li><span class="text_in_progress">In Progress</span>: not all assessments attempted, weighted mark < 50%</li>
    <li><span class="text_unattempted">Unattempted</span>: no assessments attempted</li></ul>
    
    <h3>Weighted mark explanation</h3>
    <ul><li>weighted mark = marks earned/marks possible x credits/total assessment credits</li></ul>
    
    <h2>Pie chart of weighted mark</h2>
    <div class="content-block">
        <div class="chart-container">
            <canvas id="myPieChart"></canvas>
        </div>
    </div>


    <h2>Assessment</h2>
    
    <h3>Summative</h3>
    <table>
        <tr>
            <th>Assessment</th>
            <th>Type</th>
            <th>Status</th>
            <th>Credits</th>
            <th>Mark</th>
            <th>Weighted<br>mark</th>
            <th>Take<br>assessment</th>
        </tr>
        {% for a in m.get_assessments(summative_only=True) %}
            <tr>
                <td><a href="{{url_for('student_stats.assessment_view', assessment_id=a.assessment_id)}}">{{a.assessment_id}}. {{a.title}}</a></td>
                <td>{% if a.is_summative %}<span class="text_summative">Summative</span>{% else %}Formative{% endif %}</td>
                <td><span class="text_{{a.get_status(current_user.id)}}">{{a.get_status(current_user.id)}}</span></td>
                <td>{{a.num_of_credits}}</td>
                <td>{% if a.get_status(current_user.id)=="unattempted"%}0{% else %}{{a.get_highest_scoring_attempt_and_mark(current_user.id)["highest_score"]}}{% endif %}/{{a.get_total_marks_possible()}}</td>
                <td>
                    {% if a.get_status(current_user.id)=="unattempted"%}0{% else %}{{"%.0d" | format(a.get_total_weighted_marks_as_perc(current_user.id)*100)}}{% endif %}/{{"%.0d" | format(a.get_weighted_perc_factor()*100)}}
                </td>
                <td>{% if a.get_can_user_take_assessment(current_user.id) %}Yes: <a href="{{url_for('assessments.assessment_summary', assessment_id=a.assessment_id)}}"><button>Take assessment</button></a>{% else %}No: attempt limit reached{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <th>MODULE TOTAL</th>
            <th>Summative</th>
            <th><span class="text_{{m.get_status(current_user.id)}}">{{m.get_status(current_user.id)}}</span></th>
            <th>{{m.get_total_assessment_credits()}}</th>
            <th>{{m.get_total_marks_earned(user_id=current_user.id, summative_only=True)}}/{{m.get_total_marks_possible(summative_only=True)}}</th>
            <th>{{"%.0d" |
                format(m.get_total_weighted_marks_as_perc(current_user.id)*100)}}/100</th>
            <th>-</th>
        </tr>
    </table>

    <h3>Formative</h3>
    <table>
        <tr>
            <th>Assessment</th>
            <th>Type</th>
            <th>Status</th>
            <th>Credits</th>
            <th>Mark</th>
            <th>Weighted<br>mark</th>
            <th>Take<br>assessment</th>
        </tr>
        {% for a in m.get_assessments(formative_only=True) %}
            <tr>
                <td><a href="{{url_for('student_stats.assessment_view', assessment_id=a.assessment_id)}}">{{a.assessment_id}}. {{a.title}}</a></td>
                <td>{% if a.is_summative %}<span class="text_summative">Summative</span>{% else %}Formative{% endif %}</td>
                <td><span class="text_{{a.get_status(current_user.id)}}">{{a.get_status(current_user.id)}}</span></td>
                <td>-</td>
                <td>{% if a.get_status(current_user.id)=="unattempted"%}0{% else %}{{a.get_highest_scoring_attempt_and_mark(current_user.id)["highest_score"]}}{% endif %}/{{a.get_total_marks_possible()}}</td>
                <td>-</td>
                <td>{% if a.get_can_user_take_assessment(current_user.id)%}Yes: <a href="{{url_for('assessments.assessment_summary', assessment_id=a.assessment_id)}}"><button>Take assessment</button></a>{% else %}No: attempt limit reached{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <th>MODULE TOTAL</th>
            <th>Formative</th>
            <th><span class="text_{{m.get_status(current_user.id)}}">{{m.get_status(current_user.id)}}</span></th>
            <th>-</th>
            <th>{{m.get_total_marks_earned(user_id=current_user.id, formative_only=True)}}/{{m.get_total_marks_possible(formative_only=True)}}</th>
            <th>-</th>
            <th>-</th>
        </tr>
    </table>

    <h2>Tag Analysis</h2>
    <p>(summative assessment only)</p>
    <table>
        <tr>
            <th>Tag</th>
            <th><span class="text_pass">Correct</span></th>
            <th><span class="text_fail">Incorrect</span></th>
            <th>Assessments</th>

        {% for tag, tag_stats in m.get_dict_of_tags_and_answers(current_user.id).items() %}
            <tr>
                <td>{{tag}}</td>
                <td><span class="">{{tag_stats["correct"]}}/{{tag_stats["correct"]+tag_stats["incorrect"]}}</span></td>
                <td><span class="">{{tag_stats["incorrect"]}}/{{tag_stats["correct"]+tag_stats["incorrect"]}}</span></td>
                <td><ul>{% for tag_key, assessments in m.get_dict_of_tags_and_assessments(current_user.id).items() %}
                    {% if tag==tag_key %}
                        {% for a in assessments %}
                            <li><a href="{{url_for('student_stats.assessment_view', assessment_id=a.assessment_id)}}">{{a.assessment_id}}. {{a.title}}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}</ul></td>
            </tr>
        {% endfor %}
    </table>

    <script>
        // PIE CHART
        const correct = {{
        m.get_total_weighted_marks_as_perc(current_user.id)*100}};
        const incorrect = 100-correct;
    
        const ctxPie = document.getElementById('myPieChart').getContext('2d');
        const myPieChart = new Chart(ctxPie, {
            type: 'pie',
            data: {
                labels: ['Correct', 'Incorrect'],
                datasets: [
                    {
                        label: 'Assessment View',
                        data: [correct, incorrect],
                        backgroundColor: ['rgb(54, 162, 235)', 'rgb(255, 99, 132)'],
                        hoverOffset: 4,
                    },
                ],
            },
        });
    </script>


{% endblock content %}