{% extends 'layout.html' %}
{% block title %}
    Student | Module View
{% endblock title %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<link
	rel="stylesheet"
	href="{{url_for('static',filename='student-stats-style.css')}}"
/>
{% endblock extra_head %}
{% block content %}
    <h1>Student Stats for {{current_user.name}} | Module View for "{{module_details["module_title"]}}"</h1>
    <p>
    <a href="{{url_for('student_stats.course_view')}}">
        Course View
    </a>
    > Module View
    </p>   
    <h2>Module: {{module_details["module_title"]}}</h2>

    <h2>Status: {% if dictionary_of_module_credits["total_credits_possible"] == dictionary_of_module_credits["total_credits_earned"] %}
        <span class="text_correct">PASSED</span>
    {% elif dictionary_of_module_credits["total_credits_earned"] < dictionary_of_module_credits["total_credits_failed"] %}
    <span class="text_incorrect">FAILED</span>
    {% elif dictionary_of_module_credits["total_credits_possible"] < dictionary_of_module_credits["total_credits_unattempted"] %}
    <span class="text_unattempted">UNATTEMPTED</span>
    {% else %}
    <span>IN PROGRESS</span>
    {% endif %}</h2>
    <h2>Credits</h2>
    <ul>
        <li>
            <p><b>Total Credits Possible: {{dictionary_of_module_credits["total_credits_possible"]}}</b></p>
        </li>
        <li>
            <p>Total Credits <span class="text_correct"><b>Passed</b></span>: {{dictionary_of_module_credits["total_credits_earned"]}}/{{dictionary_of_module_credits["total_credits_possible"]}}</p>
        </li>
        <li>
            <p>Total Credits <span class="text_incorrect"><b>Failed</b></span>: {{dictionary_of_module_credits["total_credits_failed"]}}/{{dictionary_of_module_credits["total_credits_possible"]}}</p>
        </li>
        <li>
            <p>Total Credits <span class="text_unattempted"><b>Unattempted</b></span>: {{dictionary_of_module_credits["total_credits_unattempted"]}}/{{dictionary_of_module_credits["total_credits_possible"]}}</p>
        </li>
    </ul>
    <div class="content-block">
        <div
            class="chart-container"
        >
            <canvas id="moduleCreditsStudentPi"></canvas>
        </div>
    </div>

    <h2>
        Marks
    </h2>
    <ul>
    <li>
        <div>
            <h3>Summative</h3>
            <ul>
                <li>
                    {% if module_details["sum_of_possible_marks_summative"] >0 %}
                        <p>{{module_details["sum_of_correct_marks_summative"]}}/{{module_details["sum_of_possible_marks_summative"]}}
                        ({{ "%.2d" |
                        format((module_details["sum_of_correct_marks_summative"]/module_details["sum_of_possible_marks_summative"])*100)}}%)</p>
                    {% else %}
                        <p>No summative assessments answered yet</p>
                    {% endif %}
                </li>
            </ul>
        </div>
    </li>
    <li>
        <h3>Formative</h3>
        <ul>
            <li>
                {% if module_details["sum_of_possible_marks_formative"] >0 %}
                    <p>{{module_details["sum_of_correct_marks_formative"]}}/{{module_details["sum_of_possible_marks_formative"]}}
                        ({{ "%.2d" |
                        format((module_details["sum_of_correct_marks_formative"]/module_details["sum_of_possible_marks_formative"])*100)}}%)</p>
                {% else %}
                        <p>No formative assessments answered yet</p>
                {% endif %}
            </li>
        </ul>
    </li>
    <li>
        <h3>Combined</h3>
        <ul>
            <li>
                {% if module_details["sum_of_possible_marks_formative"] > 0 or module_details["sum_of_possible_marks_summative"] > 0 %}
                    <p>{{module_details["sum_of_correct_marks_formative"] + module_details["sum_of_correct_marks_summative"]}}/{{module_details["sum_of_possible_marks_formative"]+module_details["sum_of_possible_marks_summative"]}}
                        ({{ "%.2d" |
                        format(((module_details["sum_of_correct_marks_formative"] + module_details["sum_of_correct_marks_summative"])/(module_details["sum_of_possible_marks_formative"]+module_details["sum_of_possible_marks_summative"]))*100)}}%)</p>
                {% else %}
                        <p>No formative assessments or summative assessments answered yet</p>
                {% endif %}
            </li>
        </ul>
    </li>
    </ul>

    <h2>Assessments</h2>
    <ul>
        <li>
            <h3>Passed</h3>
            {% if all_assessment_marks_student %}
                <ul>
                    {% for a in all_assessment_marks_student %}
                        {% if a.passed %}
                            <li>
                                <a href="{{url_for('student_stats.assessment_view', assessment_id=a.assessment_id)}}">
                                    <div class="student_stats_container results_box correct_answer {% if not a.formative %}summative{% endif %}">
                                        <h3>{{ a.assessment_title }}</h3>
                                        <ul>
                                            <li>
                                                <p>Marks: {{a.correct_marks}}/{{a.possible_marks}} ({{ "%.2d" |
                                                    format((a.correct_marks/a.possible_marks)*100)}}%)</p>
                                            </li>                                            
                                            <li>
                                                <p>{% if a.formative %}Formative{% else %}Summative{% endif %} Assessment</p>
                                            </li>
                                            <p>Credits Earned: {{a.credits_earned}}/{{a.num_of_credits}}</p>
                                            <p>Count of questions: {{a.count_of_questions}}</p>
                                            <p>Average Difficulty: {{a.average_difficulty}}</p>
                                            <p>Tags:
                                            <ul>
                                                {% for key, val in a.tag_array_counter.items() %}
                                                    <li>{{key}} ({{val}})</li>
                                                {% endfor %}</p>
                                            </ul>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            </li>
        <li>
            <h3>Failed</h3>
            {% if all_assessment_marks_student %}
                <ul>
                    {% for a in all_assessment_marks_student %}
                        {% if not a.passed %}
                            <li>
                                <a href="{{url_for('student_stats.assessment_view', assessment_id=a.assessment_id)}}">
                                    <div class="student_stats_container results_box incorrect_answer {% if not a.formative %}summative{% endif %}">
                                        <h3>{{ a.assessment_title }}</h3>
                                        <ul>
                                            <li>
                                                <p>Marks: {{a.correct_marks}}/{{a.possible_marks}} ({{ "%.2d" |
                                                    format((a.correct_marks/a.possible_marks)*100)}}%)</p>
                                            </li>                                        
                                            <li>
                                                <p>{% if a.formative %}Formative{% else %}Summative{% endif %} Assessment</p>
                                            </li>
                                            <p>Credits Earned: {{a.credits_earned}}/{{a.num_of_credits}}</p>
                                            <p>Count of questions: {{a.count_of_questions}}</p>
                                            <p>Average Difficulty: {{a.average_difficulty}}</p>
                                            <p>Tags:
                                            <ul>
                                                {% for key, val in a.tag_array_counter.items() %}
                                                    <li>{{key}} ({{val}})</li>
                                                {% endfor %}</p>
                                            </ul>
                                            <p><a href="{{url_for('assessments.assessment_summary', assessment_id=a.assessment_id)}}"><button> Take assessment</button></a></p>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    
        <li>
            <h3>Unattempted</h3>
            {% if assessments_not_taken_yet %}
                <ul>
                    {% for a in assessments_not_taken_yet %}
                        <li>
                            <a href="{{url_for('student_stats.assessment_view', assessment_id=a.assessment_id)}}">
                                <div class="student_stats_container results_box not_answered {% if not a.formative %}summative{% endif %}">
                                    <h3>{{a.title}}</h3>
                                    <p>Possible Marks: {{a.possible_marks}}</p>
                                    <p>Possible Credits: {{a.num_of_credits}}</p>
                                    <p>{% if a.formative %}Formative{% else %}Summative{% endif %} Assessment</p>
                                    <p>Count of questions: 
                                        {% if a.count_of_questions %}
                                            {{a.count_of_questions}}
                                        {% else %}
                                            0
                                        {% endif %}
                                        </p>
                                    <p>Difficulty: </p>
                                    <p>Tags: </p>
                                    <p><a href="{{url_for('assessments.assessment_summary', assessment_id=a.assessment_id)}}"><button> Take assessment</button></a></p>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have completed the module!</p>
            {% endif %}
            
        </li>
    </ul>

</ul>
    <h2>Download</h2>
    <p><a href="{{ url_for('student_stats.download')}}">Download CSV</a></p>
        
    <script>
        // OVERALL: STUDENT
        const totalCreditsPassed = '{{dictionary_of_module_credits["total_credits_earned"]}}';
        const totalCreditsFailed = '{{dictionary_of_module_credits["total_credits_failed"]}}';
        const totalCreditsUnattempted = '{{dictionary_of_module_credits["total_credits_unattempted"]}}';
        const moduleCreditsStudentPiElement = document.getElementById('moduleCreditsStudentPi').getContext('2d');
        const moduleCreditsStudentPi = new Chart(moduleCreditsStudentPiElement, {
            type: 'pie',
            data: {
                labels: ['Passed', 'Failed', 'Unattempted'],
                datasets: [
                    {
                        label: 'Course View',
                        data: [totalCreditsPassed, totalCreditsFailed,
                        totalCreditsUnattempted
                        ],
                        backgroundColor: ['rgb(54, 162, 235)', 'rgb(255, 99, 132)','rgb(150, 150, 150)'],
                        hoverOffset: 4,
                    },
                ],
            },
        });
    </script>

{% endblock content %}