{% extends 'layout.html' %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<link
	rel="stylesheet"
	href="{{url_for('static',filename='student-stats-style.css')}}"
/>
{% endblock extra_head %}
{% block title %}
    Student | Assessment View
{% endblock title %}`
{% block content %}

<h1>Student Stats for {{current_user.id}} | {{current_user.name}}</h1> 
<h1>Assessment {{ assessment_details["assessment_id"]}} | {{assessment_details["assessment_title"] }} ({{assessment_details["summative_or_formative"]}})</h1>
    <p>
        <a href="{{url_for('student_stats.course_view')}}">
            Course View
        </a> 
        > 
        <a href="{{url_for('student_stats.module_view', module_id=assessment_details['module_id'])}}">
            Module {{assessment_details["module_id"]}} | {{assessment_details["module_title"]}}
        </a>
         > Assessment {{ assessment_details["assessment_id"]}} | {{assessment_details["assessment_title"] }}
    </p>
    <h2>Assessment: {{ assessment_details["assessment_id"]}} | {{assessment_details["assessment_title"] }}</h2>

    <h3>Status:
        
        <h2>Status: {% if if assessment_details['highest_scoring_attempt_passed'] %}
            <span class="text_correct">PASSED</span>
        {% else %}
            <span class="text_incorrect">INCOMPLETE</span>
        {% endif %}</h2>
    <h3>Credits Earned: {% if assessment_details["highest_scoring_attempt_passed"] %}{{assessment_details["credits"]}}{% else %}0{% endif %}/{{assessment_details["credits"]}}</h3>

    <div class="student_stats_container results_box {% if assessment_details["highest_scoring_attempt_passed"] %} correct_answer {% else %} incorrect_answer {% endif %}">
        <h2>
            Highest Scoring Attempt
        </h2>
        <p>Attempt {{assessment_details["highest_scoring_attempt_number"]}} | {{total_score_per_attempt[assessment_details["highest_scoring_attempt_number"]]["correct_marks"]}}/{{total_score_per_attempt[assessment_details["highest_scoring_attempt_number"]]["possible_marks"]}} = {{total_score_per_attempt[assessment_details["highest_scoring_attempt_number"]]["mark_as_percentage"]}} | {% if assessment_details["highest_scoring_attempt_passed"] %}<span class="text_correct">PASSED</span>{% else %}<span class="text_incorrect">FAILED</span>{% endif %}</p>
        <div class="content-block">
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <h2>Progress Chart</h2>
    <div class="content-block">
        <div class="chart-container">
            <canvas id="myBarChart"></canvas>
        </div>
    </div>

    <h2>Attempt analysis</h2>
    <ul>
        <table>
            <tr>
                <th>Question</th>
                {% for i in range(total_number_of_attempts) %}
                    <th>Attempt<br>{{i+1}}</th>
                {% endfor %}
            </tr>
            {% for question_text, details in question_analysis_dict.items() %}
            <tr>
                <td>{{loop.index}}. {{question_text}}</td>
                {% for i in range(details.number_of_attempts) %}
                <th>
                    {% if details.array_of_success[i][i+1]%}
                        <h1><span class="text_correct">Y</span></h1>
                    {% else %}
                        <h1><span class="text_incorrect">N</span></h1>
                    {% endif %}
                </th>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </ul>

    <h2>Tag Analysis</h2>
    <ul>
        {% for t in tag_dictionary %}
            <li>{{t}}: {{tag_dictionary[t]["correct_in_highest"]}}/{{tag_dictionary[t]["count"]}} ({{ "%.2d" |
                format((tag_dictionary[t]["correct_in_highest"]/tag_dictionary[t]["count"])*100)}}%)</li>
        {% endfor %}
    </ul>

    



    <h2>Attempts</h2>
    <ul>
        <h3>Highest scoring attempt</h3>
        <h3>Attempt {{assessment_details["highest_scoring_attempt_number"]}} | {{total_score_per_attempt[assessment_details["highest_scoring_attempt_number"]]["correct_marks"]}}/{{total_score_per_attempt[assessment_details["highest_scoring_attempt_number"]]["possible_marks"]}} = {{total_score_per_attempt[assessment_details["highest_scoring_attempt_number"]]["mark_as_percentage"]}} | {% if assessment_details["highest_scoring_attempt_passed"] %}<span class="text_correct">PASSED</span>{% else %}<span class="text_incorrect">FAILED</span>{% endif %} </h3>
        {% if not assessment_details["highest_scoring_attempt_passed"] %}<p><a href="{{url_for('assessments.assessment_summary', assessment_id=assessment_details['assessment_id'])}}"><button>Retake assessment</button></a></p>{% endif %}
        

        {% for r in highest_scoring_response_details %}
            <div class="student_stats_container results_box {% if r.is_correct %} correct_answer {% else %} incorrect_answer {% endif %}">
                <li>
                    <b>Question: {{loop.index}}. {{r.question_text}}</b>
                </li>
                <li>Answer given: {{r.answer_given}}</li>
                <li>Correct? 
                    {% if r.is_correct %}
                    <span class="text_correct">Correct</span>
                    {% else %}
                    <span class="text_incorrect">Incorrect</span>
                    {% endif %}    
                </li>
                {% if not r.is_correct %}
                    <li>Correct Answer: {{r.correct_answer}}</li>
                {% endif %}
                <li>Difficulty: {{r.question_difficulty}}</li>
                <li>Question Tag: {{r.tag_name[0]}}</li>
                <li>Question Type: {{r.question_type}}. {% if r.question_type==1 %}
                    Multiple Choice
                {% else %}
                    Text
                {% endif %}</li>
                <li>Feedback: {{r.feedback}}</li>
                <li>Feedforward: {{r.feedforward}}</li>
                <li>Marks: {% if r.is_correct %}{{r.num_of_marks}}{% else %}0{% endif %}/{{r.num_of_marks}}</li>
                {% if not r.is_correct %}
                <li><a href="mailto:{{r.lecturer_email}}?subject=Query from {{current_user.name}}"><button>Email lecturer to query</button></a></li>
                {% endif %}
            </div>
        {% endfor %}
    </ul>
    <h3>Other attempts</h3>

    <ul>
        {% for attempt_number, attempt_details in all_response_details_grouped_by_attempt_number.items() %}
            {% if attempt_number != assessment_details["highest_scoring_attempt_number"] %}
                    <li>
                        <h3>Attempt {{attempt_number}} | {{total_score_per_attempt[attempt_number]["correct_marks"]}}/{{total_score_per_attempt[attempt_number]["possible_marks"]}} = {{total_score_per_attempt[attempt_number]["mark_as_percentage"]}} | 
                            {% if total_score_per_attempt[attempt_number]["correct_marks"]/total_score_per_attempt[attempt_number]["possible_marks"]>=0.5 %}<span class="text_correct">PASSED</span>{% else %}<span class="text_incorrect">FAILED</span>{% endif %} </h3>
                            {% if not total_score_per_attempt[attempt_number]["correct_marks"]/total_score_per_attempt[attempt_number]["possible_marks"]>=0.5 %}<p><a href="{{url_for('assessments.assessment_summary', assessment_id=assessment_details['assessment_id'])}}"><button>Retake assessment</button></a></p>{% endif %}
                    </li>
                    {% for r in attempt_details %}
                        <div class="student_stats_container results_box {% if r.is_correct %} correct_answer {% else %} incorrect_answer {% endif %}">
                            <li>
                                <b>Question: {{loop.index}}. {{r.question_text}}</b>
                            </li>
                            <li>Answer given: {{r.answer_given}}</li>
                            <li>Correct? 
                                {% if r.is_correct %}
                                <span class="text_correct">Correct</span>
                                {% else %}
                                <span class="text_incorrect">Incorrect</span>
                                {% endif %}    
                            </li>
                            {% if not r.is_correct %}
                            <li>Correct Answer: {{r.correct_answer}}</li>
                        {% endif %}
                            <li>Difficulty: {{r.question_difficulty}}</li>
                            <li>Question Tag: {{r.tag_name[0]}}</li>
                            <li>Question Type: {{r.question_type}}. {% if r.question_type==1 %}
                                Multiple Choice
                            {% else %}
                                Text
                            {% endif %}</li>
                            <li>Feedback: {{r.feedback}}</li>
                            <li>Feedforward: {{r.feedforward}}</li>
            
                            <li>Marks: {% if r.is_correct %}{{r.num_of_marks}}{% else %}0{% endif %}/{{r.num_of_marks}}</li>
                            {% if not r.is_correct %}
                            <li><a href="mailto:{{r.lecturer_email}}?subject=Query from {{current_user.name}}"><button>Email lecturer to query</button></a></li>
                            {% endif %}
                        </div>
                    {% endfor %}
            {% endif %}
        {% endfor %} 
    </ul>

    <h2>Download</h2>
    <p><a href="{{ url_for('student_stats.download')}}">Download CSV</a></p>
    

    <script>
        // PIE CHART
        const correct = '{{assessment_details["sum_of_marks_awarded"]}}';
        const incorrect = '{{assessment_details["sum_of_marks_possible"]-assessment_details["sum_of_marks_awarded"]}}';
    
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Correct', 'Incorrect'],
                datasets: [
                    {
                        label: 'Course View',
                        data: [correct, incorrect],
                        backgroundColor: ['rgb(54, 162, 235)', 'rgb(255, 99, 132)'],
                        hoverOffset: 4,
                    },
                ],
            },
        });

        // BAR CHART

        // Variables required:
        // - labels: list of strings
        // - data: list of integers
        // - backgroundColor: list of rgba (strings)
        // - options (y axis should be total possible marks)
                
        const ctxBar = document.getElementById('myBarChart');
        const myChartBar = new Chart(ctxBar, {
            data: {
                labels: {{data_for_bar_chart["labels"]}},
                datasets: [{
                    type: 'bar',
                    label: 'Bar',
                    data: {{data_for_bar_chart["data"]}},
                    backgroundColor: [{% for color in data_for_bar_chart['backgroundColor'] %}'rgba({{color}})',{% endfor %}],  
                    borderWidth: 1
                }, {
                    type: 'line',
                    label: 'Line',
                    data: {{data_for_bar_chart["data"]}},
                    backgroundColor: [{% for color in data_for_bar_chart['backgroundColor'] %}'rgba({{color}})',{% endfor %}],  
                    borderWidth: 1
                }, {
                    type: 'line',
                    label: 'Pass Mark',
                    data: {{data_for_bar_chart["pass_mark"]}},
                    backgroundColor: [{% for color in data_for_bar_chart['backgroundColor'] %}'rgba(4,4,4,1)',{% endfor %}],  
                    borderWidth: 1
                }
                
                ]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: "Attempt"
                        }
                    },
                    y: {
                        beginAtZero: true,
                        max: {{data_for_bar_chart["y_axis_max"]}}*1,
                        title: {
                            display: true,
                            text: "Marks"
                        },
                    },
                }
            }
        });
    </script>
  
    {% endblock content %}