{% extends 'layout.html' %}
{% block extra_head %}
{% include 'includes/student_stats_head.html' %}
{% endblock extra_head %}
{% block title %}
    Student | Assessment View
{% endblock title %}`
{% block content %}
    <h2>Student stats for {{current_user.id}}: {{current_user.name}}</h2>
    <p>Course View > Module {{a.module.module_id}} | {{a.module.title}} > Assessment {{ a.assessment_id}} | {{ a.title }}</p>
    <h1>Assessment {{ a.assessment_id}} | {{ a.title }} ({% if a.is_summative %}summative{% else %}formative{% endif %})</h1>
    <h2>Overview</h2>
    <table>
        <tr>
            <th>Type</th>
            <th>Mark</th>
            <th>Status</th>
            <th>Credits<br>earned</th>
            <th>Attempts<br>made</th>
            <th>Attempts<br>allowed</th>
        </tr>
        <tr>
            <td>{% if a.is_summative %}Summative{% else %}Formative{% endif %}</td>
            <td>{{a.get_highest_scoring_attempt_and_mark(current_user.id)['highest_score']}}/{{a.get_total_marks_possible()}}<br>
            ({{ "%.2d" |
            format((a.get_highest_scoring_attempt_and_mark(current_user.id)['highest_score']/a.get_total_marks_possible())*100)}}%)</td>
            <td>{{a.get_status(current_user.id)}}</td>
            <td>{{a.get_credits(current_user.id)}}/{{a.num_of_credits}}</td>
            <td>{{a.get_count_of_attempts_made(current_user.id)}}</td>
            <td>{{a.get_attempt_limit()}}</td>
        </tr>
    </table>
    <h2>Pie chart of highest scoring attempt</h2>

    <div class="content-block">
        <div class="chart-container">
            <canvas id="myPieChart"></canvas>
        </div>
    </div>
    <h2>Attempt analysis</h2>
    <div class="content-block">
        <div class="chart-container">
            <canvas id="myBarChart"></canvas>
        </div>
    </div>
    <table>
        <tr>
            <th>Question</th>
            {% for attempt in a.get_list_of_attempts_made(user_id=current_user.id) %}
                <th>Attempt<br>{{attempt}}</th>
            {% endfor %}
        </tr>
        {% for q in a.get_questions() %}
            <tr>
                <td>Question {{loop.index}}. {{q.question_text}}</td>
                {% for attempt in a.get_list_of_attempts_made(user_id=current_user.id) %}
                    <td>
                        {% for r in q.get_responses_from_user(current_user.id,attempt) %}
                            <b><span class="text_{% if r.is_correct %}pass">Y{% else %}fail">N{% endif %}</span></b>
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <th>Status</th>
            {% for attempt in a.get_list_of_attempts_made(user_id=current_user.id) %}
                <th><span class="text_{{a.get_status_of_attempt(current_user.id, attempt)}}">{{a.get_status_of_attempt(current_user.id, attempt)}}</span></th>
            {% endfor %}
        </tr>
    </table>
    <h2>Attempts</h2>
    <h3>Highest scoring attempt</h3>
    <p>Attempt {{a.get_highest_scoring_attempt_and_mark(current_user.id)["highest_scoring_attempt"]}} | {{a.get_highest_scoring_attempt_and_mark(current_user.id)['highest_score']}}/{{a.get_total_marks_possible()}} | {{a.get_status(current_user.id)}}</p>

    {% for attempt in a.get_list_of_attempts_made(current_user.id) %}
        <h4>Attempt: {{attempt}} {% if attempt == a.get_highest_scoring_attempt_and_mark(current_user.id)["highest_scoring_attempt"] %} (Highest scoring){%endif%} | 
        Total marks: {{ a.get_marks_for_user_and_assessment(current_user.id)[attempt] }}/{{a.get_total_marks_possible()}} | <span class="text_{{a.get_status_of_attempt(current_user.id, attempt)}}">{{a.get_status_of_attempt(current_user.id, attempt)}}</span></h4>
        <ul>
            {% for r in a.get_responses(current_user.id, attempt) %}
            <li>
                <div class="results_box student_stats_container container_{{r.get_status()}}">
                    <ul>
                        <li>
                            <b>Question {{loop.index}}. {{r.question}}</b>
                        </li>
                        <li>
                            Answer given: {{r}}
                        </li>
                        <li>
                            Tag: {{r.question.tag}}
                        </li>
                        <li>
                            Type: {% if r.get_type() == 1 %}
                                1 (multiple choice)
                                {% else %}
                                2 (text)
                            {% endif %}
                        </li>
                        <li>Feedback: {{ r.get_feedback() }}</li>
                        <li>Feedforward: {{ r.get_feedforward() }}</li>
                        <li>Marks:
                            {% if r.is_correct %}
                                {{r.question.num_of_marks}}/{{r.question.num_of_marks}}
                            {% else %}
                            0/{{r.question.num_of_marks}}
                            {% endif %}
                        </li>
                        {% if not r.is_correct %}
                        <li><a href="mailto:{{a.user.email}}?subject=Query from {{current_user.name}}"><button>Email lecturer to query</button></a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
    
    <script>
        // PIE CHART
        const correct = {{a.get_highest_scoring_attempt_and_mark(current_user.id)["highest_score"]}};
        const incorrect = {{a.get_total_marks_possible()}}-correct;
    
        const ctxPie = document.getElementById('myPieChart').getContext('2d');
        const myPieChart = new Chart(ctxPie, {
            type: 'pie',
            data: {
                labels: ['Correct', 'Incorrect'],
                datasets: [
                    {
                        label: 'Assessment View',
                        data: [correct, incorrect],
                        backgroundColor: ['rgb(54, 162, 235)', 'rgb(255, 99, 132)'],
                        hoverOffset: 4,
                    },
                ],
            },
        });

        // BAR CHART

        // BAR CHART

        // Variables required:
        // - labels: list of strings
        // - data: list of integers
        // - backgroundColor: list of rgba (strings)
        // - options (y axis should be total possible marks)
                
        const ctxBar = document.getElementById('myBarChart');
        const myBarChart = new Chart(ctxBar, {
            data: {
                labels: {{data_for_bar_chart["barChartLabel"]}},
                datasets: [{
                    type: 'bar',
                    label: 'Bar',
                    data: {{data_for_bar_chart["barChartData"]}},
                    backgroundColor: [{% for color in data_for_bar_chart['barChartColor'] %}'rgba({{color}})',{% endfor %}],  
                    borderWidth: 1
                }, {
                    type: 'line',
                    label: 'Line',
                    data: {{data_for_bar_chart["barChartLabel"]}},
                    backgroundColor: [{% for color in data_for_bar_chart['barChartColor'] %}'rgba({{color}})',{% endfor %}],  
                    borderWidth: 1
                }, {
                    type: 'line',
                    label: 'Pass Mark',
                    data: {{data_for_bar_chart["barChartPass"]}},
                    backgroundColor: [{% for color in data_for_bar_chart['barChartColor'] %}'rgba(4,4,4,1)',{% endfor %}],  
                    borderWidth: 1
                }
                
                ]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: "Attempt"
                        }
                    },
                    y: {
                        beginAtZero: true,
                        max: {{data_for_bar_chart["barChartPass"][0]}}*2,
                        title: {
                            display: true,
                            text: "Marks"
                        },
                    },
                }
            }
        });
    </script>

{% endblock content %}