{% extends 'layout.html' %}
{% block extra_head %}
{% include 'includes/student_stats_head.html' %}
{% endblock extra_head %}
{% block title %}
    Student | Analysis | {% if not summative_only and not formative_only %}All{% elif summative_only %}Summative{% else %}Formative{% endif %} questions
{% endblock title %}`
{% block content %}
<h2>Student stats for student ID {{current_user.id}}: {{current_user.name}}</h2>
<p><a href="{{url_for('student_stats.course_view')}}">Course View</a> > <a href="{{url_for('student_stats.module_view', module_id = a.module.module_id)}}">Module {{a.module.module_id}} | {{a.module.title}}</a> > Assessment {{ a.assessment_id}} | {{ a.title }}</p>

<h1>Assessment {{ a.assessment_id }} | {{ a.title }}</h1>
<h2>Assessment Analysis - {% if not summative_only and not formative_only %}All{% elif summative_only %}Summative{% else %}Formative{% endif %} questions</h2>

{% include 'includes/analysis_filter.html' %}

    <h3>Questions</h3>
    <table>
        <tr>
            <th><span class="">Count</span></th>
            <th><span class="text_pass">Correct</span></th>
            <th><span class="text_fail">Incorrect</span></th>
        </tr>
        <tr>
            <td><span class="">{{a.get_dict_of_questions_and_answers(current_user.id, summative_only=summative_only, formative_only=formative_only, hsa_only=hsa_only)["count"]}}</span></td>
            <td><span class="">{{a.get_dict_of_questions_and_answers(current_user.id, summative_only=summative_only, formative_only=formative_only, hsa_only=hsa_only)["correct"]}}</td>
            <td><span class="">{{a.get_dict_of_questions_and_answers(current_user.id, summative_only=summative_only, formative_only=formative_only, hsa_only=hsa_only)["incorrect"]}}</td>
        </tr>
    </table>

    <h3>Tags</h3>
    <table>
        <tr>
            <th>Tag</th>
            <th><span class="">Count</span></th>
            <th><span class="text_pass">Correct</span></th>
            <th><span class="text_fail">Incorrect</span></th>
        </tr>
        {% for tag, tag_stats in a.get_dict_of_tags_and_answers(current_user.id, summative_only=summative_only, formative_only=formative_only, hsa_only=hsa_only).items() %}
            <tr>
                <td>{{tag}}</td>
                <td><span class="">{{tag_stats["correct"]+tag_stats["incorrect"]}}</span></td>
                <td><span class="">{{tag_stats["correct"]}}</span></td>
                <td><span class="">{{tag_stats["incorrect"]}}</span></td>
            </tr>
        {% endfor %}
    </table>

    <h3>Difficulty</h3>
    <table>
        <tr>
            <th>Difficulty</th>
            <th><span class="">Count</span></th>
            <th><span class="text_pass">Correct</span></th>
            <th><span class="text_fail">Incorrect</span></th>
        </tr>
        {% for difficulty, difficulty_stats in a.get_dict_of_difficulty_and_answers(current_user.id, summative_only=summative_only, formative_only=formative_only, hsa_only=hsa_only).items() %}
            <tr>
                <td>{{difficulty}}</td>
                <td><span class="">{{difficulty_stats["correct"]+difficulty_stats["incorrect"]}}</span></td>
                <td><span class="">{{difficulty_stats["correct"]}}</span></td>
                <td><span class="">{{difficulty_stats["incorrect"]}}</span></td>
            </tr>
        {% endfor %}
    </table>

    <h3>Question Type</h3>
    <table>
        <tr>
            <th>Type</th>
            <th><span class="">Count</span></th>
            <th><span class="text_pass">Correct</span></th>
            <th><span class="text_fail">Incorrect</span></th>
        </tr>
        {% for type, type_stats in a.get_dict_of_type_and_answers(current_user.id, summative_only=summative_only, formative_only=formative_only, hsa_only=hsa_only).items() %}
            <tr>
                <td>{{type}} {% if type==1 %}
                    (multiple choice)
                {% else %}
                    (text)
                {% endif %}</td>
                <td><span class="">{{type_stats["correct"]+type_stats["incorrect"]}}</span></td>
                <td><span class="">{{type_stats["correct"]}}</span></td>
                <td><span class="">{{type_stats["incorrect"]}}</span></td>
            </tr>
        {% endfor %}
    </table>

    <h2><a href="{{url_for('student_stats.assessment_view', assessment_id=a.assessment_id)}}">Back to Assessment view</a></h2>
    <h2><a href="{{ url_for('student_stats.download')}}">Download CSV</a></h2>



{% endblock content %}