{% extends 'layout.html' %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<link
	rel="stylesheet"
	href="{{url_for('static',filename='student-stats-style.css')}}"
/>
{% endblock extra_head %}
{% block content %}
    <h1>Welcome "{{current_user.name}}". Let's see how you have done.</h1>
    <p>Course View</p>
    <h2>Course: Computer Science</h2>
    <h2>
        Overall Marks
    </h2>
    <p>{{overall_results["sum_of_marks_awarded"]}}/{{overall_results["sum_of_marks_possible"]}}
    ({{ "%.2d" |
    format((overall_results["sum_of_marks_awarded"]/overall_results["sum_of_marks_possible"])*100)}}%)</p>

    <div class="content-block">
        <div
            class="chart-container"
            style="position: relative; height: 20vh; margin-bottom: 12rem"
        >
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <h2>Modules</h2>
    <ul>
        {% for module, assessments in module_dict.items() %}
            <li> 
            <p><a href="{{url_for('student_stats.module_view', module_id=module.module_id)}}"><b>{{module}}:</b></a> 
                {% for module_total_title, module_total_numbers in module_totals.items() %}
                    {% if module_total_title == module.title %}
                        {{module_total_numbers["marks_awarded"]}}/{{module_total_numbers["marks_possible"]}} ({{ "%.2d" |
                        format((module_total_numbers["marks_awarded"]/module_total_numbers["marks_possible"])*100)}}%)
                    {% endif %}
                {% endfor %}            
            </p>
            <ul>
            {% for assessment, marks in assessments.items() %}
                <li>
                <p>{{assessment}}: {{marks.marks_awarded}}/{{marks.marks_possible}} ({{ "%.2d" |
                    format((marks.marks_awarded/marks.marks_possible)*100)}}%)</p>
                </li>
            {% endfor %}
        </ul>
        </li>
        {% endfor %}
    </ul>
    <h2>Download</h2>
    <p><a href="{{ url_for('student_stats.download')}}">Download CSV</a></p>
    {#
    <hr>
    <h2>Responses</h2>
 
    {% for response in current_user.t2_responses %} 
        <h3>Module: {{response.assessment.module}}</h3>
        <h4>Assessment: {{response.assessment}}</h4>
        <p>Question: {{response.question}} (Marks: {{response.question.num_of_marks}})</p>
        <p>Response: {{response.response_content}} (Marks: {{response.is_correct}})</p>
    
    {% endfor %}
    #}


    <script>
        const correct = '{{overall_results["sum_of_marks_awarded"]}}';
        const incorrect = '{{overall_results["sum_of_marks_possible"]-overall_results["sum_of_marks_awarded"]}}';
    
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Correct', 'Incorrect'],
                datasets: [
                    {
                        label: 'Course View',
                        data: [correct, incorrect],
                        backgroundColor: ['rgb(54, 162, 235)', 'rgb(255, 99, 132)'],
                        hoverOffset: 4,
                    },
                ],
            },
        });
    </script>
{% endblock content %}