{% extends 'layout.html' %}
{% block extra_head %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
{% endblock extra_head %}
{% block content %}
<table>
        <tr>
            {% for thing in results | first %}
                <th>{{thing}}</th>
            {% endfor %}
        </tr>

        {% for thing in results %}
            <tr>    
                {% for i,j in thing.items() %}
                    <td>{{j}}</td>
                {% endfor %}

            </tr>
        {% endfor %}
</table>
{% endblock content %}