{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('legendary_gamification.static', filename='styles.css') }}">
{% endblock styles %}

{% block content %}

{% if question_counter > 1 %}
    <h1>Congratulations your good for nothing brain actually comprehended 1st grade python</h1>
{% else %}
    <div class="time-bar-container">
        <div class="red-bar"></div>
        <div class="white-bar"></div>
    </div>

    <div class="question-megacontainer">
        <div class="question-container">
            <form action="" method="POST">
                <h4>{{ question }}</h4>
                <div class="question-options">
                    <input type="radio" name="options" id="option1" value="option1"> {{options[0]}} </input><br>
                    <input type="radio" name="options" id="option2" value="option2"> {{options[1]}} </input><br>
                    <input type="radio" name="options" id="option3" value="option3"> {{options[2]}} </input><br>
                    <input type="radio" name="options" id="option4" value="option4"> {{options[3]}} </input><br>
                    <input type="submit" value="send" class='send-button'>
                </div>
            </form>
        </div>
    </div>
{% endif %}
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('legendary_gamification.static', filename='easytimer.min.js') }}"></script>
    <script src="{{ url_for('legendary_gamification.static', filename='scripts.js') }}"></script>
{% endblock %}