{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('legendary_gamification.static', filename='styles.css') }}">
{% endblock styles %}

{% block content %}
    <div class="timer-container">
        <h1 class="timer">10</h1>
    </div>
    <div class="time-bar-container">
        <div class="red-bar"></div>
        <div class="white-bar"></div>
    </div>

    <div class="question-megacontainer">
        <div class="question-container">
            <form action="" method="POST">
                <h4>{{ question[1] }}</h4>
                <div class="question-options">
                    {% for option in options %}
                        <div><input type="radio" name="options" value="{{ option[2] }},{{ option[1] }}">{{ option[1] }}</option></div>
                    {% endfor %}
                    <input type="submit" name="button" value="send" class='send-button'>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('legendary_gamification.static', filename='easytimer.min.js') }}"></script>
    <script src="{{ url_for('legendary_gamification.static', filename='scripts.js') }}"></script>
{% endblock %}