<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}{% if title %}{{title}}{% else %}AAT{% endif %}{% endblock title %}
		</title>
		{% block styles %}
			<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
			<link rel="stylesheet" href="{{url_for('assessments.static',filename='assessment_styles.css')}}" />
		{% endblock styles %}
		{% block extra_head %}{% endblock %}
	</head>

	<body>
		{% include 'navbar.html' %}
		{% block content %} {% endblock %} 
		{% include 'footer.html' %}
    
        {% block scripts %}
        {% endblock %}
	</body>
</html>
