<nav>
	<ul>
		<li><a href="{{ url_for('index') }}">AAT</a></li>
		<li>|</li>
		<li>
			<a href="{{ url_for('index') }}">Home</a>
		</li>
		<li>
			<a href="{{ url_for('assessments.index') }}">Assessments</a>
		</li>
		<li>
			<a href="{{ url_for('questions.index') }}">Questions</a>
		</li>
		{% if not current_user.is_authenticated %}
		<li>
			<a href="{{ url_for('auth.login') }}">Login</a>
		</li>
		<li>
			<a href="{{ url_for('auth.register') }}">Register</a>
		</li>
		{% else %}
		<li>
			<a href="{{ url_for('auth.logout') }}">Log Out User "{{current_user.name}}"</a>
		</li>
		<li>
			{% if current_user.role_id == 1 %}
				<a href="{{ url_for('legendary_gamification.get_id') }}">Achievements</a>
			{% else %}
				<a href="{{ url_for('legendary_gamification.test_leaderboard') }}">LeaderBoard</a>
			{% endif %}
		</li>
		{% endif %}
		<!-- STATS -->
		<li>
			<a href="
			{% if not current_user.is_authenticated %}
				{{ url_for('auth.login') }}
			{% elif current_user.role_id==1 %} 
				{{ url_for('student_stats.course_view') }}
			{% else %}
				{{ url_for('staff_stats.index') }}
			{% endif %}">Stats</a>
		</li>
		{# {% if current_user.can(Permission.ADMIN) %} #}
		<li class="admin">
			<a href="{{ url_for('admin.index') }}">Admin</a>
		</li>
		{# {% endif %} #}
	</ul>
</nav>