{% extends("layout.html") %}
{% block content %}
<a href="{{ url_for('staff_stats.index') }}">BACK</a>
<h1> Module: {{module_title}}</h1>
<h3>Your Assessments:</h3>
{%for assessment in lecturersAssessments%}
{%set count = loop.index0%}

<h2>{{assessment}}
    ({{formOrSumm[count]}})

    <!--number of credits: {{assessment.num_of_credits}}. -->
    Assessment id: {{assessmentIds[count]}}
</h2>
   

    <h3>T1 Questions:</h3>
    {%for question in t1questions%}
        
        {%if question.assessment_id == assessmentIds[count]%}
            <p>{{question.q_t1_id}}. {{question.question_text}}</p>
            <p>Correct Answers: {{t1Correct.get(question.q_t1_id)}}
                  Wrong Answers: {{t1Wrong.get(question.q_t1_id)}} </p>
        {%endif%}
    {%endfor%}

    
    <h3>T2 Questions:</h3>
    {%for question in t2questions%}
        {%if question.assessment_id == assessmentIds[count]%}
            <p>{{question.q_t2_id}}. {{question}}</p>
            <p>Correct Answers: {{t2Correct.get(question.q_t2_id)}} 
                Wrong Answers: {{t2Wrong.get(question.q_t2_id)}}</p>
        {%endif%}
    {%endfor%}

    {%endfor%}
{% endblock %}