<script src = "https://d3js.org/d3.v7.min.js" ></script>
{% extends("layout.html") %}
{% block content %}
<a href="{{ url_for('staff_stats.index') }}">BACK</a>
<h1> Module: {{Module_title}}</h1>
{%for assessment in moduleAssessments%}
{%set count = loop.index0%}
<h2>{{assessment[0]}}: &nbsp;&nbsp;&nbsp; {{assessment[1]}} &nbsp;&nbsp;&nbsp; number of credits:{{assessment[2]}}&nbsp;&nbsp;&nbsp;{%if assessment[3] == True%} (Summative) {%else%} (Formative){%endif%}assessment id:{{assessment[4]}}
    <a href="{{url_for('staff_stats.view_students',assessment = assessment[0])}}">View Students</a>
</h2>
    {%for questionBlock in questions%}  
    {%for question in questionBlock%} 
    {%if question[0] == assessment[4]%}
    <p>{{question[1]}} &nbsp;&nbsp;&nbsp; question difficulty is:{{question[2]}} &nbsp;&nbsp;&nbsp; Question type:{{question[3]}}</p>
    
    {%endif%}
    {%endfor%}
    {%endfor%}
{%endfor%}

{% endblock %}