{% extends("layout.html") %}
{% block content %}
<a href="{{url_for('staff_stats.module', Module_title=Module_title )}}">BACK</a>

<h1>Student views for Asessment: {{assessment}}!</h1>
{%for user in users2%}
    {%set count = loop.index0%}
    {%set users2Length = users2[count]|length %}
    
    <h1>Student Name: {{user.pop(0)}}</h1>
    {%if users2Length > 1 %}    
        {%for question in users2[count]%}
            <h2> Question: {{question[0]}} &nbsp;&nbsp;&nbsp; Question difficulty: {{question[1]}} &nbsp;&nbsp;&nbsp; Question Type: {{question[5]}} </h2>  
            <p> Answer given: {{question[2]}} &nbsp;&nbsp;&nbsp; {%if question[3] == True%} Answered Correct! {%else%} Answered False! {%endif%} &nbsp;&nbsp;&nbsp; Attmempt Number: {{question[4]}} </p>
    
        {%endfor%}
    {%else%}
        <p>No questions have been answered</p>
    {%endif%}
{%endfor%}
{% endblock %}