body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(0, 0, 0);
    margin-left: 20px;
    text-align: center;
}

h2 {
    color: rgb(0, 0, 0);
    margin-left: 20px;
    text-align: center;
}

ul {
    list-style: none;
}

nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    padding-top: 0px;
    text-decoration: none;
    font-size: 17px;
    padding-left: 0;
}

nav {
    background-color: rgb(26, 26, 26);
    overflow: hidden;
}

.divider {
    height: 18px;
    border-top-style:ridge;
    border-top-color: #003108;
    border-top-width: 3px;
}

#leaderboard {
    background-color: rgb(255, 255, 255);
    color: #000000;
    height: 470px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.leader-title {
    display: flex;
    vertical-align: middle;

}

.leader-title h3 {
    padding: 2px 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    color: #000000;
    vertical-align: middle;
}

.leaderboard-section {
    margin: 20px;
    background-color: rgb(255, 255, 255);
    flex: 1;
    border: 3px solid black;
}

.user-rank {
    text-align: center;
    border-bottom: 3px solid rgb(0, 0, 0);
    font-size: 30px;
}

.content-container {
    display: flex;
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: 88%;
    display: flex;
    flex-direction: row;
    /* margin: 0 auto; */;
}

.collectables-section {
    margin: 20px;
    background-color: rgb(255, 255, 255);
    flex: 1;
    color: rgb(0, 0, 0);
    position: relative;
    border: 3px solid black;
}

.collect-title {
    display: flex;
    vertical-align: middle;
}

.collect-title h3 {
    padding: 2px 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    color: #000000;
    vertical-align: middle;
}

.time-bar-container {
    padding: 0;
    height: 20px;
    background-color: #000000;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.red-bar {
    background-color: green;
    flex: 0;
    height: 100%;
}

.white-bar {
    flex: 2;
}

.question-megacontainer {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.send-button {
    margin-top: 5px;
}

.reset-container {
    text-align: center;
}

.end-assess-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.end-assess-form input{
    width: 100px;
}

.achievements-junkyard {
    background-color: aqua;
    text-align: center;
    margin-top: 10px;
}

.mega-container > div{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.badge-container {
    display: flex;
    flex-direction: row;
}

.badge-details {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.achievement-container {
    display: flex;
    flex-direction: row;
}

.achievement-details {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.pie {
    --w:150px;
    
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .pie:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
.pie-container {
    position: absolute;
    width:100%;
    text-align: center;
    height: 260px;
    background-color: #f0f0f0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #000;
    border-top-style: solid;
    border-top-width: 2px;
}

.ranks-rapid {
    display: flex;
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.rapid-fire-test-container {
    margin: 20px;
    background-color: rgb(255, 255, 255);
    flex: 1;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rank-up-button-container {
    display: flex;
    text-align: center;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

.rankup-container {
    margin: 20px;
    background-color: rgb(255, 255, 255);
    flex: 1;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ranks-content {
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: 88%;
    display: flex;
    flex-direction: row;
    /* margin: 0 auto; */;
}