{% extends("layout.html") %}
{% block content %}
<div class="form-container">
    <h1>Edit question</h1>
    <form method="POST" action="">
        {{ form.csrf_token }}
        <div>
            <div>
                {{form.question_text.label}}
            </div>
            {{form.question_text(rows='3', cols='60')}}
        </div>
        <div>
            {{form.option_a.label}}
            {{form.option_a(rows='3', cols='60')}}
        </div>
        <div>
            {{form.option_b.label}}
            {{form.option_b(rows='3', cols='60')}}
        </div>
        <div>
            {{form.option_c.label}}
            {{form.option_c(rows='3', cols='60')}}
        </div>

        <div>
            {{form.num_of_marks.label(class='inline-label')}}{{form.num_of_marks}}
        </div>
        <div>
            {{form.difficulty.label(class='inline-label')}}{{form.difficulty(min='1', max='3')}}
        </div>
        <div>
            <div>
                {{form.feedback_if_correct.label}}
            </div>
            {{form.feedback_if_correct(rows='3', cols='60')}}
        </div>
        <div>
            <div>
                {{form.feedback_if_wrong.label}}
            </div>
            {{form.feedback_if_wrong(rows='3', cols='60')}}
        </div>
        <button type="submit">Save changes</button>
    </form>
</div>


{% endblock %}