{% extends("layout.html") %}

{% block content %}
<main class="all-questions">
    <h1>All Questions</h1>
    <h3>Filter questions</h3>
    <form action="">
        {{ form.filter.label }}{{ form.filter }}
        {{form.submit}}
    </form>
    <h3>Add a new question</h3>
    <a href="{{url_for('questions.new_question_t1')}}"><button>Type 1</button></a>
    <a href="{{url_for('questions.new_question_t2')}}"><button>Type 2</button></a>
    {% for question in questions %}
    <h2>{{ question.question_text }}</h2>
    <p>{{question.num_of_marks}} marks. --- Difficulty = {{question.difficulty}}/3</p>
    {% if question.q_t1_id %}
    <a href="{{url_for('questions.show_question_t1', id=question.q_t1_id)}}">View question details</a>
    <a class="small-margin-left" href="{{url_for('questions.edit_question_t1', id=question.q_t1_id)}}">Edit question
        details</a>
    {% endif %}
    {% if question.q_t2_id %}
    <a href="{{url_for('questions.show_question_t2', id=question.q_t2_id)}}">View question details</a>
    <a class="small-margin-left" href="{{url_for('questions.edit_question_t2', id=question.q_t2_id)}}">Edit question
        details</a>
    {% endif %}
    {% endfor %}
</main>

{% endblock %}