{% extends("layout.html") %} {% block content %}
<h1 class="modules_title">Assessment: {{assessment.title}}</h1>

<section class="assessment-summary summary-page">
<p>{{ question.question_text[0]|upper }}{{ question.question_text[1:] }}</p>
<p>Marks available: {{ question.num_of_marks }}</p>

<form method="POST" action="" class="answer-form">
	{{ form.csrf_token }} 
	{% if q_type == 1%}
	{{ form.chosen_option }}
	{% elif q_type == 2 %}
	{{ form.answer(class_="answer-box") }}
	{% endif %}
	<div class="answer-question-buttons">
	{% if session['is_summative'] %}
	{% if session['past_questions']|length > 1 %}
	<button type="button" class="take-assessment-button">
		<a href="{{ url_for('assessments.previous_question') }}"
			>Previous Question</a
		>
	</button>
	{% endif %} 
	{% endif %}
	<button type="submit" value="Submit Answer" class="take-assessment-button">
		{% if session['is_summative'] %}
			{% if session['questions']|length < 1 %}
				Submit and End Assessment 
			{% else %}
				Next Question
			{% endif %}
		{% else %}
			Submit and Mark Answer
		{% endif %}
	</button>
	</div>
</form>

<p>
	Question {{ session['past_questions']|length }} of {{
	session['no_questions'] }}
</p>

</section>
{% endblock %}
