{% extends("layout.html") %}
{% block content %}
<div class="form-container">
    <h1>Edit {{assessment.title}}</h1>
    <form method="POST" action="">
        {{ form.csrf_token }}
        <div>
            <div>{{form.title.label}}</div>
            {{form.title}}
        </div>
        <div>
            <div>{{form.due_date.label}}</div>
            {{form.due_date}}
        </div>
        <div>
            <div>{{form.time_limit.label}}</div>
            {{form.time_limit}}
        </div>
        <div>
            <div>{{form.num_of_credits.label}}</div>
            {{form.num_of_credits}}
        </div>
        <div>
            <div>{{form.is_summative.label}}</div>
            {{form.is_summative}}
        </div>
        {{form.submit}}
    </form>
</div>
{% endblock %}
