{% extends("layout.html") %}
{% block content %}

<h1 class="modules_title">No Questions In Assessment</h1>

<div class="content-container">
    <p>The assessment you were searching for does not currently contain any questions and cannot be completed.</p>
    <p>Please contact your lecturer.</p>
</div>

<div class="button-container">
    <button type="button" class="take-assessment-button"><a href="{{ url_for('assessments.exit_assessment') }}">Return to Module View</a></button>
</div>

{% endblock %}