{% extends("layout.html") %}
{% block content %}
<div class="form-container">
    <h1>Create New Assessment</h1>
    <form method="POST" action="">
        {{ form.csrf_token }}
        <div>
            <div>{{form.title.label}}</div>
            {{form.title}}
        </div>
        <div>
            <div>{{form.module_id.label}}</div>
            {{form.module_id}}
        </div>
        <div>
            <div>
                {{form.due_date.label}}
            </div>
            {{form.due_date}}
        </div>
        <div>
            {{form.time_limit.label}}
        </div>
        <div>
            {{form.time_limit}}
        </div>
        <div>
            {{form.num_of_credits.label}}
        </div>
        <div>
            {{form.num_of_credits}}
        </div>
        <div>
            <div>
                {{form.is_summative.label}}
            </div>
            {{form.is_summative}}
        </div>
        {{form.submit}}
    </form>
</div>
<!-- For viewing how add questions function would work -->
<h3>Add a new question</h3>
<a href="{{url_for('questions.new_question_t1')}}"><button>Type 1</button></a>
<a href="{{url_for('questions.new_question_t2')}}"><button>Type 2</button></a>
{% endblock %}