{% extends("layout.html") %}

{% block content %}
<div class="block_contents">
    <div class = "show_assessment_title">
    <h1>{{assessment.title}}</h1>
        <button type="button" >
            <a href="{{ url_for('assessments.edit_assessment', id=assessment.assessment_id) }}" class="Assessment_show_button">Edit Assessment</a>
    </button>
    </div>  
    <div class="show_assessment_parent">

        <div class="show_assessment_children">
            <h2 class="show_assessment_child"> Module ID: {{assessment.module_id}}</h2>
            <h2 class="show_assessment_child"> Lecturer_ID: {{assessment.lecturer_id}}</h2>
            <h2 class="show_assessment_child"> Due Date: {{current_date}}</h2>
        </div>      

        <div class="show_assessment_children">
            <h2 class="show_assessment_child"> Total Marks: {{assessment_num_of_marks}}</h2>
            <h2 class="show_assessment_child"> Time Limit (mins): {{time_limit_minutes}} </h2>
            <h2 class="show_assessment_child"> Type: {{assessment_type}}</h2>
        </div>  
        
        <div class="show_assessment_children">
        {% if assessment.is_summative == False %}
            {% if assessment_difficulty == 1 %}
            <h2 class="show_assessment_child"> Difficulty: Easy</h2>
            {% endif %}
            {% if assessment_difficulty == 2 %}
            <h2 class="show_assessment_child"> Difficulty: Moderate</h2>
            {% endif %}
            {% if assessment_difficulty == 3 %}
            <h2 class="show_assessment_child"> Difficulty: Hard</h2>
            {% endif %}
        {% endif %}
        {% if assessment.is_summative == True %}
        <h2 class="show_assessment_child"> Credits: {{assessment.num_of_credits}}</h2>
        {% endif %}
        </div>  
        
    </div>
    {% for question in questions %}
        <h3>{{question.question_text}}</h3>
        <p>{{question.num_of_marks}} marks</p>
        <p>Tag: {{question.tag}}</p>
        {% if assessment.is_summative == False %}
        <p> Difficulty = {{question.difficulty}}/3</p>
        {% endif %}
        <hr>
    {% endfor %}
</div>
{% endblock %}