{% extends("layout.html") %}
{% block content %}
<h1>{{assessment.title}}</h1>
{% for question in questions %}
<h3>{{question.question_text}}</h3>
{% if current_user.can(Permission.WRITE_ASSESSMENT) %}
<button class="delete-button">Delete Question</button>
{% endif %}
<p>{{question.num_of_marks}} marks --- Difficulty = {{question.difficulty}}/3</p>
<hr>
{% endfor %}
{% if questions %}
<a href="{{url_for('assessments.delete_questions', id=assessment.assessment_id)}}">Delete Questions</a>
{% endif %}
{% endblock %}