{% extends("layout.html") %}
{% block content %}
<div class="block_contents">
<h1>{{module.title}}</h1>

{% if current_user.can(Permission.WRITE_ASSESSMENT) %}
<div class = "view_module_create">
<button type="button" class="Create_Assessment_Button" role="button">
    <a href="{{ url_for('assessments.new_assessment') }}" class="Create_Assessment_Link">Create Assessment</a>
</button>
</div>

{% endif %}

<section class="summary-page summative">
    <h2>Summative Assessments</h2>
    <small><em><b>Please note: summative assessments can only be completed once.</b></em></small>
    {% for summative_assessment in summatives %}
        <div class="assessment-instance">
            <h3>{{ summative_assessment.title }}</h3>
            
            <p>Must be completed by: <b class="date">{{ summative_assessment.due_date }}</b></p>
            
            {% if current_user.can(Permission.ANSWER_ASSESSMENT) %}
            
                {% if current_user.has_taken(summative_assessment) %}
                    <p>Highest Result Achieved: {{ marks_achieved[summative_assessment.title] }}</p>
                {% endif %}
                <button type="button" class = "Assessment_Index_Child">
                    <a href="{{ url_for('assessments.assessment_summary', assessment_id=summative_assessment.assessment_id) }}" class="Assessment_Index_Text">Take Assessment</a>
                </button>

            {% elif current_user.can(Permission.WRITE_ASSESSMENT) %}
            <button type="button" class = "Assessment_Index_Child">
                <a href="{{ url_for('assessments.show_assessment', id=summative_assessment.assessment_id) }}" class="Assessment_Index_Text">View Assessment</a>
            </button>   
                <button type="button" class = "Assessment_Index_Child">
                    <a href="{{ url_for('assessments.edit_assessment', id=summative_assessment.assessment_id) }}" class="Assessment_Index_Text">Edit Assessment</a>
                </button>
                <button type="button" class = "Assessment_Index_Child delete-button">
                    <a href="{{ url_for('assessments.delete_assessment', id=summative_assessment.assessment_id) }}"class="Assessment_Index_Text">Delete Assessment</a>
                </button>
            {% endif %}
        </div>
        <small>Assessment subject tags: {% for tag in assess_tags[summative_assessment.title] %}{{ tag }}, {% endfor %}</small>
        <hr>
    {% endfor %}
</section>

<section class="summary-page formative">
    <h2>Formative Assessments</h2>
    {% for formative_assessment in formatives %}
        <div class="assessment-instance">
            <h3>{{ formative_assessment.title }}</h3>
            {% if current_user.can(Permission.ANSWER_ASSESSMENT) %}
            
                {% if current_user.has_taken(formative_assessment) %}
                    <p>Highest Result Achieved: {{ marks_achieved[formative_assessment.title] }}</p>
                {% endif %}
                <button type="button" class = "Assessment_Index_Child">
                    <a href="{{ url_for('assessments.assessment_summary', assessment_id=formative_assessment.assessment_id) }}" class="Assessment_Index_Text">Take Assessment</a>
                </button>

            {% elif current_user.can(Permission.WRITE_ASSESSMENT) %}
                <button type="button" class = "Assessment_Index_Child">
                    <a href="{{ url_for('assessments.show_assessment', id=formative_assessment.assessment_id) }}" class="Assessment_Index_Text">View Assessment</a>
                </button>   
                <button type="button" class = "Assessment_Index_Child">
                    <a href="{{ url_for('assessments.edit_assessment', id=formative_assessment.assessment_id) }}" class="Assessment_Index_Text">Edit Assessment</a>
                </button>
                <button type="button" class = "Assessment_Index_Child delete-button">
                    <a href="{{ url_for('assessments.delete_assessment', id=formative_assessment.assessment_id) }}"class="Assessment_Index_Text">Delete Assessment</a>
                </button>
            {% endif %}
        </div>
        <small>Assessment subject tags: {% for tag in assess_tags[formative_assessment.title] %}{{ tag }}, {% endfor %}</small>
        <hr>
    {% endfor %}
</section>

</div>
{% endblock %}