{% extends("layout.html") %}
{% block content %}
<div class="block_contents">
<h1 class="modules_title">{{module.title}}</h1>

{% if current_user.can(Permission.WRITE_ASSESSMENT) %}
<div class = "view_module_create">
<button type="button" class="Create_Assessment_Button" role="button">
    <a href="{{ url_for('assessments.new_assessment', module_id=module.module_id) }}" class="Create_Assessment_Link">Create Assessment</a>
</button>
</div>

{% endif %}

<section class="summary-page summative">
    <h2>Summative Assessments</h2>
    {% if current_user.can(Permission.ANSWER_ASSESSMENT) %}
    <small><em><b>Please note: summative assessments have a limited number of attempts. Do not start an assessment attempt if you are unable to finish in one sitting.</b></em></small>
    {% endif %}
    {% for summative_assessment in summatives %}
        <div class="assessment-instance">
            <h3>{{ summative_assessment.title }}</h3>
            <p>Due: <b class="date">{% if summative_assessment.due_date != None %}{{ summative_assessment.due_date.strftime("%d/%m/%Y") }}{% endif %}{% if summative_assessment.due_date == None %}N/A{% endif %}</b></p>
            {% if current_user.can(Permission.ANSWER_ASSESSMENT) %}
                <p>Attempts: {{ current_user.current_attempts(summative_assessment) }}/3</p>
                <div>
                {% if current_user.has_taken(summative_assessment) %}
                <a href="{{ url_for('assessments.show_results', assessment_id=summative_assessment.assessment_id, attempt_number=best_attempt[summative_assessment.title] ) }}">
                    Highest Result Achieved: {{ marks_achieved[summative_assessment.title] }}
                </a>
                {% endif %}
                </div>
                <button type="button" class = "Assessment_Index_Child">
                    <a href="{{ url_for('assessments.assessment_summary', assessment_id=summative_assessment.assessment_id) }}" class="Assessment_Index_Text">{% if current_user.has_taken(summative_assessment) %}Retake Assessment{% else %}Take Assessment{% endif %}</a>
                </button>
            {% elif current_user.can(Permission.WRITE_ASSESSMENT) %}
            <button type="button" class = "Assessment_Index_Child">
                <a href="{{ url_for('assessments.show_assessment', id=summative_assessment.assessment_id) }}" class="Assessment_Index_Text">View Assessment</a>
            </button>   
                <button type="button" class = "Assessment_Index_Child">
                    <a href="{{ url_for('assessments.show_assessment', id=summative_assessment.assessment_id) }}" class="Assessment_Index_Text">View Assessment</a>
                </button>
                <button type="button" class = "Assessment_Index_Child">
                    <a href="{{ url_for('assessments.edit_assessment', id=summative_assessment.assessment_id) }}" class="Assessment_Index_Text">Edit Assessment</a>
                </button>
                <button type="button" class = "Assessment_Index_Child delete-button">
                    <a href="{{ url_for('assessments.delete_assessment', id=summative_assessment.assessment_id) }}"class="Assessment_Index_Text">Delete Assessment</a>
                </button>
            {% endif %}
        </div>
        <div class="assessment-sub-detail">
            <small class="assess-sub-text">Assessment Difficulty: {{ difficulties[summative_assessment.title] }}</small>
            {% if assess_tags[summative_assessment.title]|length > 0 %}
            <div class="all-tags">
                <small>Assessment subject tags: {% for tag in assess_tags[summative_assessment.title] %}<span class="assess-tag">{{ tag }}</span>{% endfor %}</small>
            </div>
            {% endif %}
        </div>
        
        <hr>
    {% endfor %}
</section>

<section class="summary-page formative">
    <h2>Formative Assessments</h2>
    {% for formative_assessment in formatives %}
        <div class="assessment-instance">
            <h3>{{ formative_assessment.title }}</h3>
            {% if current_user.can(Permission.ANSWER_ASSESSMENT) %}
                <p>Due: <b class="date">{% if formative_assessment.due_date != None %}{{ formative_assessment.due_date.strftime("%d/%m/%Y") }}{% endif %}{% if formative_assessment.due_date == None %}N/A{% endif %}</b></p>
                <p>Unlimited Attempts Allowed</p>
                <div>
                    {% if current_user.has_taken(formative_assessment) %}
                    <a href="{{ url_for('assessments.show_results', assessment_id=formative_assessment.assessment_id, attempt_number=best_attempt[formative_assessment.title] ) }}">
                        Highest Result Achieved: {{ marks_achieved[formative_assessment.title] }}
                    </a>
                    {% endif %}
                </div>
                <button type="button" class = "Assessment_Index_Child">
                    <a href="{{ url_for('assessments.assessment_summary', assessment_id=formative_assessment.assessment_id) }}" class="Assessment_Index_Text">Take Assessment</a>
                </button>

            {% elif current_user.can(Permission.WRITE_ASSESSMENT) %}
                <button type="button" class = "Assessment_Index_Child">
                    <a href="{{ url_for('assessments.show_assessment', id=formative_assessment.assessment_id) }}" class="Assessment_Index_Text">View Assessment</a>
                </button>

                <button type="button" class = "Assessment_Index_Child">
                    <a href="{{ url_for('assessments.edit_assessment', id=formative_assessment.assessment_id) }}" class="Assessment_Index_Text">Edit Assessment</a>
                </button>
                <button type="button" class = "Assessment_Index_Child delete-button">
                    <a href="{{ url_for('assessments.delete_assessment', id=formative_assessment.assessment_id) }}"class="Assessment_Index_Text">Delete Assessment</a>
                </button>
            {% endif %}
        </div>
        <div class="assessment-sub-detail">
            <small class="assess-sub-text">Assessment Difficulty: {% if difficulties[formative_assessment.title] == 0 %}No questions added to be able to assess difficulty.{% else %}{{ difficulties[formative_assessment.title] }}{% endif %}</small>
            {% if assess_tags[formative_assessment.title]|length > 0 %}
            <div class="all-tags">
                <small>Assessment subject tags: {% for tag in assess_tags[formative_assessment.title] %}<span class="assess-tag">{{ tag }}</span>{% endfor %}</small>
            </div>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
</section>

{% if current_user.can(Permission.ANSWER_ASSESSMENT) %}
<section class="summary-page formative">
    <h2>Topics Covered in Module</h2>
    <small><em>Take random practice questions on the topics covered in this module to prepare for the assessments. Your scores will not be saved, but the practice will prepare you for the real thing!</em></small>
    {% for t in topic_tags %}
    <div class="assessment-instance">
        <h3>{{ t.name[0]|capitalize }}{{ t.name[1:] }}</h3>
        <button type="button" class = "Assessment_Index_Child">
            <a href="{{ url_for('assessments.random_question', topic_id=t.id) }}" class="Assessment_Index_Text">Take Practice Question</a>
        </button>
    </div>
    <hr>
    {% endfor %}
</section>
{% endif %}

</div>
{% endblock %}