{% extends'admin/master.html' %} {% block body %}

<h2><a href="{{ url_for('index') }}">Back to AAT homepage</a></h2>
<p>
	The "You must be logged in" text is commented out in admin/index.html.<br />
	This is just a placeholder since that functionality isn't currently active.
	<br />To activate, please uncomment the code in views.py
</p>
{# {% if current_user.is_admin %} Welcome to the admin panel {{
current_user.username }}! {% else %} Hello, please login as an admin before
accessing this panel |
<a href="{{ url_for('auth.login') }}">Login&nbsp;</a>
{% endif %} #} {% endblock %}
